/*

  CONTAINERS
  - Various containers for content

*/

// Changed code below into a mixin to support different two column widths within the main content area
@mixin twocol($sidepanel-width: 230, $sidepanel-desktop-gutter: 28, $sidepanel-mobile-gutter: 16) {

  .column__primary {
    // widescreen
    @include breakpoint($breakpoint-5) {
      float: none;
      padding-right: px_to_em($sidepanel-width + $sidepanel-desktop-gutter);
      width: 100%;
    }
  }
  .column__secondary {
    /*
      this one gets quite complicated...
      - narrowest viewport is the 2 asides stacked one on top of each other
      - Next up (at around 770px) the asides stack side by side
      - Then, at around 870 they become stacked again
      - Before going side-by-side again at about 1014
      - And finally at about 1080 the asides end up
    */

    // the deafault 100% width, for when we are not setting this as a second column
    @include breakpoint($breakpoint-3) {
      clear: both;
      width: 100%;
    }

    @include breakpoint($breakpoint-7) {
      > aside { width: 100%; }
    }

    @include breakpoint($breakpoint-8 ) {
      overflow: auto;

      > aside {
        width: auto;
        float: left;
      }
    }

    @include breakpoint($breakpoint-10) {
      > aside { width: 100%; }
      .sidemarket{
        max-width:100%;
      }
    }

    // -11 and -12 are the side-by-side layouts
    // for the 'right column' asides
    @include breakpoint($breakpoint-11) {
      padding-top: px_to_em(9, 12);
      position: relative;

      > aside:nth-of-type(1) {
        padding-right: 0;
        width: 100%;
      }
      > aside:nth-of-type(2) {
        width: px_to_em($sidepanel-width);
        position: absolute;
        right: 0;
      }
    }
    @include breakpoint($breakpoint-12) {
      position: relative;

      > aside:nth-of-type(1) {
        padding-right: 0;
        width: 100%;
      }
      > aside:nth-of-type(2) {
        width: px_to_em($sidepanel-width);
        position: absolute;
        right: 0;
      }
    }

    // widescreen
    @include breakpoint($breakpoint-9) {
      display: inline-block;
      float: none;
      margin-left: px_to_em(27, 16);
      width: px_to_em($sidepanel-width);
    }
  }

}

.mask{
  @include twocol(230);
  &.-highlights{ // highlights page varient
    @include twocol(350);
  }
  &.-competitions{ // competitions page varient
    @include twocol(230);
  }
  &.-matches{ // daily list page varient
    @include twocol(230);
  }
}




// module specific variables
$containerMaxWidth : 662px;
$containerMinMidth : 320px;

.container {
  max-width: $whMaxWidth;
  width: 100%;
  padding: 0 px_to_em(16, 16);
  margin: 0 auto;


  &.-market {
    background-color: $white;  // Todo[TV] This colors seems not necessary //
    max-width: $containerMaxWidth;
    //min-width: $containerMinMidth;
    padding-bottom: $baseGutter;
    position: relative;
    width: 100%;

    &:after {
      border-bottom: 1px solid #bbbbbb; // Todo[TV] This colors seems not necessary //
      bottom: 1px;
      content: '';
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  &.-minified {
    padding: 0;

    &:after { border: none; }
  }
}

.main {
  @extend .container;
  padding-top: px_to_em(32, 16);
  position:relative;
}

// these styles are for pseudo-tables
.table {
  &.-header {
    padding: 0 $baseGutter;
    text-align: center;

    &:not(:first-of-type) {
      margin: 0 0 $baseGutter $baseGutter;
    }
  }
  &.-row {
    margin-bottom: $baseGutter;
    position: relative;
    text-align: left;

    span {
      bottom: 0;
      height: 50%;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;

      //TODO[dd] text-overflow isn't widely supported, look to an alternative
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
.spacer {
  @include flex(1);
  @include order(2);
}