  /*

  LANGUAGE SELECTION
    - The panel used to display a list of languages

*/

.languageSelection {
  background-color: $transparency-black-dark-color;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;

  @include transition(all linear 0.5s);

  > div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: px_to_em(8, 12);
    padding: 0;
    // width: px_to_em(320, 12);
    width: 80%;
    z-index: 100000;

    // -ms-transform: rotate(-90deg);

    // @include rotateX(-90deg);
    // @include transition(linear all 0.25s);
    // @include transform-origin(100%, 0%);

    @include respond-to(450) {
      margin-top: px_to_em(32, 12);
    }

    > header {
      background-color: $header-blue-dark-bg-color;
      text-align: right;

      a {
        height: px_to_em(32, 12);
        line-height: px_to_em(32, 12);
        margin: px_to_em(8, 12);
        padding: 0;
        width: px_to_em(32, 12);
      }
    }

    > ul {
      background-color: $container-white-bg-color;
      overflow: auto;
      padding: px_to_em(8, 12) 0 px_to_em(8, 12) px_to_em(8, 12);
      text-align: center;
    }

  }

  &.-expanded { 
    //display: block; 
    // -ms-transform: rotate(0deg);

    // @include rotateX(0deg);

    // &::before {
    //   background-color: $whDarkBlue2;
    //   content: '';
    //   height: px_to_em(9,12);
    //   position: absolute;
    //   right: px_to_em(12,12);
    //   top: px_to_em(-8,12);
    //   width: px_to_em(32,12);
    // }
      
    display: block;

    > div {
      // left: 50%;
      // margin-left: -159px;
      // margin-top: -269px;
      // margin-left: px_to_em(-159, 12);
      // margin-top: px_to_em(-269, 12);
      // top: 50%;
    }
  }

  li {
    clear: none;
    display: inline-block;
    max-width: 200px;
    padding-bottom: px_to_em(8, 12);
    padding-right: px_to_em(8, 12);
    width: 49%;

    // styles for mobile display
    position: relative;
    text-align: center;

    a {
      padding: px_to_em(8, 12) px_to_em(16, 12);
      text-align: center;
      width: 100%;
      &:hover{
        background-color: $button-blue-dark-hover-bg-color;
      }


      @include respond-to(450) {
        text-align: left;
      }

      i { 
        // styles for mobile display
        display: none;
        // position: absolute;
        // left: 50%;
        // top: px_to_em(8, 12);
        // margin-left: px_to_em(-13, 12);

        @include respond-to(450) {
          display: block;
          margin-right: px_to_em(4, 12); 
          position: initial;
          margin-top: 1px;
        }
      }

      &.-active {
        background-color: transparent;
        color: $text-blue-color;
        cursor: default;
      }
    }
  }
}
