/*

  PRODUCT NAVIGATION
  - this is the main navigation bar, where the product verticals can be selected

*/

.productnavigation {
  display: inline-block;

  .productnavigation__button {
    @extend .tab;
    font-size: 12px;

    &.-active {
      background-color: $button-blue-darkest-bg-color;
    }
  }
}

.productnavigation-mobile {
  @extend .clearfix;

  // Hide the display by default
  height: 0px;
  overflow: hidden;
  padding: 0 0 0 px_to_em(8, 12);

  // display: none; // Toggle
  // padding: 16px 0 0 8px;
  // padding: px_to_em(16, 12) px_to_em(4, 12) px_to_em(8, 12);
  background-color: $container-blue-darkest-bg-color;
  z-index: 5; // ensure beneath login panel
  position: relative;

  // @include box-shadow(0 8px 0 0 rgba(0, 0, 0, 0.3));
  @include transition(linear all 0.25s);

  &.-expanded {
    // display: block;
    padding: px_to_em(16, 12) 0 0 px_to_em(8, 12);
    // height: px_to_em(152, 12);
    height: 9.3em;
  }

  .productnavigation__button {
  /*
    width: 33.3%;
    float: left;
    padding: 0 px_to_em(4, 12) px_to_em(8, 12);
  */
    @extend .-product;
    cursor: default;

    span {
      @extend .-clear;
      cursor: pointer;
      display: block;
      height: 100%;
      line-height: px_to_em(32, 12);
      margin-right: px_to_em(8, 12);
      padding-left: px_to_em(8, 12);
      padding-right: 0;

      @include border-radius(3px);
      @include transition(all linear 0.25s);

      &:hover {
        background-color: transparent;
      }
    }

    &.-active {
      span {
        background-color: transparent;
        cursor: default;
      }
    }
  }

  @include respond-to(830) {
    display: none !important;
  }
}

.productnavigation__button-mobile {

}