/*** HELP WINDOW POSITIONING ***/
#helpWindow {
    display: none;
    position: fixed;
    width: 996px;
    height: 546px;
    top: 50%;
    left: 50%;
    margin: -273px 0 0 -498px;
    z-index: 99999;
    overflow: hidden;
}

/*** HELP WINDOW CORNERS ***/
#helpWindow_hdrTL, #helpWindow_hdrTR, #helpWindow_ftrBL, #helpWindow_ftrBR {
    float: left;
    overflow: hidden;
}
#helpWindow_hdrTL, #helpWindow_hdrTR {
    height: 28px;
    width: 14px;
}
#helpWindow_ftrBL, #helpWindow_ftrBR {
    height: 14px;
    width: 14px;
}
#helpWindow_hdrTL {
    background: url("http://whdn.williamhill.com/cms/images/rightNow/popupEdgeSprites.png") no-repeat scroll 0px 0px transparent;
}
#helpWindow_hdrTR {
    background: url("http://whdn.williamhill.com/cms/images/rightNow/popupEdgeSprites.png") no-repeat scroll -14px 0px transparent;
}
#helpWindow_ftrBL {
    background: url("http://whdn.williamhill.com/cms/images/rightNow/popupEdgeSprites.png") no-repeat scroll 0px -28px transparent;
    clear: left;
}
#helpWindow_ftrBR {
    background: url("http://whdn.williamhill.com/cms/images/rightNow/popupEdgeSprites.png") no-repeat scroll -14px -28px transparent;
}
#helpWindow.selected_option_b #helpWindow_ftrBR,   
#helpWindow.selected_option_d #helpWindow_ftrBR {
    background-position: -28px -28px;
}
#helpWindow.selected_option_a #helpWindow_ftrBR,
#helpWindow.selected_option_c #helpWindow_ftrBR,
#helpWindow.selected_option_e #helpWindow_ftrBR {
    background-position: -14px -28px;
}
#helpWindow.selected_option_e #helpWindow_ftrBL {
    background-position: -28px -14px;
}

/*** HELP WINDOW EDGES ***/
#helpWindow_hdr, #helpWindow_ftr, #helpWindow_ftrExtsn {
    overflow: hidden;
    float: left;
}
#helpWindow_hdr {
    cursor: move;
    height: 28px;
    width: 968px;
    background: url("http://whdn.williamhill.com/cms/images/rightNow/repeatingSprites.png") repeat-x scroll 0px 0px transparent;
}
#helpWindow_ftr {
    height: 14px;
    width: 745px;
    background: url("http://whdn.williamhill.com/cms/images/rightNow/repeatingSprites.png") repeat-x scroll 0px -42px transparent;
}
#helpWindow_ftrExtsn {
    height: 14px;
    width: 223px;
    background: url("http://whdn.williamhill.com/cms/images/rightNow/repeatingSprites.png") repeat-x scroll 0px -28px transparent;
}
#helpWindow.selected_option_e #helpWindow_ftrExtsn {
    background-position: -7px -28px;
}

/*** HELP WINDOW CONTENT CONTAINER ***/
#helpWindow_content {
    background: url("http://whdn.williamhill.com/cms/images/rightNow/helpWindow_bg.png");
    float: left;
    width: 990px;
    height: 504px;
    padding: 0 3px;
    overflow: hidden;
}

/*** HELP WINDOW VIEW CONTROLLER ***/
#helpWindow_vwCtrl_outer {
    height: 22px;
    border-top: 1px solid #aaaeb6;
    background: url("http://whdn.williamhill.com/cms/images/rightNow/viewControlSprites.png") repeat-x scroll 0px 2px #d7d7db;
    clear: right;
}
#helpWindow_vwCtrl_inner {
    height: 20px;
    border-top: 1px solid #fff;
    margin-left: 1px;
}
#helpWindow_vwCtrl, #helpWindow_vwCtrlExtsn {
    overflow: hidden;
    float: left;
    height: 20px;
    border-bottom: 1px solid #aaaeb6;
}
#helpWindow_vwCtrl {
    width: 754px;
}
#helpWindow_vwCtrlExtsn {
    width: 235px;
    background: url("http://whdn.williamhill.com/cms/images/rightNow/viewControlSprites.png") repeat-x scroll 0px -20px transparent;
}
#helpWindow_vwCtrl ul {
    margin: 0;
    padding: 0;
}
#helpWindow_vwCtrl ul li {
    float: left;
    background: transparent url("http://whdn.williamhill.com/cms/images/rightNow/viewOptionDivider.png") no-repeat right bottom;
    height: 20px;
    clear: none;
    padding: 0 1px;
}
.helpWindow_vwCtrl_option_a span, .helpWindow_vwCtrl_option_b span,
.helpWindow_vwCtrl_option_c span, .helpWindow_vwCtrl_option_d span,
.helpWindow_vwCtrl_option_e span {
    display: block;
    height: 20px;
    cursor: pointer;
}
.helpWindow_vwCtrl_option_a span {
    width: 35px;
    background: transparent url("http://whdn.williamhill.com/cms/images/rightNow/viewOptionsSprite.png?v=001") no-repeat -1px -20px;
}
.helpWindow_vwCtrl_option_a span.vwCtrl_option_active {
    width: 35px;
    background: transparent url("http://whdn.williamhill.com/cms/images/rightNow/viewOptionsSprite.png?v=001") no-repeat -1px 0px;
}
.helpWindow_vwCtrl_option_b span {
    width: 37px;
    background: transparent url("http://whdn.williamhill.com/cms/images/rightNow/viewOptionsSprite.png?v=001") no-repeat -36px -20px;
}
.helpWindow_vwCtrl_option_b span.vwCtrl_option_active {
    width: 37px;
    background: transparent url("http://whdn.williamhill.com/cms/images/rightNow/viewOptionsSprite.png?v=001") no-repeat -36px 0px;
}
.helpWindow_vwCtrl_option_c span {
    width: 28px;
    background: transparent url("http://whdn.williamhill.com/cms/images/rightNow/viewOptionsSprite.png?v=001") no-repeat -74px -20px;
}
.helpWindow_vwCtrl_option_c span.vwCtrl_option_active {
    width: 28px;
    background: transparent url("http://whdn.williamhill.com/cms/images/rightNow/viewOptionsSprite.png?v=001") no-repeat -74px 0px;
}
.helpWindow_vwCtrl_option_d span {
    width: 30px;
    background: transparent url("http://whdn.williamhill.com/cms/images/rightNow/viewOptionsSprite.png?v=001") no-repeat -101px -20px;
}
.helpWindow_vwCtrl_option_d span.vwCtrl_option_active {
    width: 30px;
    background: transparent url("http://whdn.williamhill.com/cms/images/rightNow/viewOptionsSprite.png?v=001") no-repeat -101px 0px;
}
.helpWindow_vwCtrl_option_e span {
    width: 36px;
    background: transparent url("http://whdn.williamhill.com/cms/images/rightNow/viewOptionsSprite.png?v=001") no-repeat -133px -20px;
}
.helpWindow_vwCtrl_option_e span.vwCtrl_option_active {
    width: 36px;
    background: transparent url("http://whdn.williamhill.com/cms/images/rightNow/viewOptionsSprite.png?v=001") no-repeat -133px 0px;
}
#helpWindow_vwCtrl ul li.helpWindow_vwCtrl_title {
    color: #6a6c76;
    font: 11px Arial;
    padding: 0 6px 0 11px;
    line-height: 20px;
}

/*** HELP WINDOW FRAMES ***/
#helpWindow_mainFrame {
    background: #fff url(http://whdn.williamhill.com/cms/images/rightNow/loading.gif?v=001) no-repeat center center; 
    width: 754px; 
    height: 481px; 
    float: left;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    clear: left;
}
#helpWindow_subFrame {
    background: #f2f2f2 url("http://whdn.williamhill.com/cms/images/rightNow/subFrame_bg.jpg") repeat-y top left; 
    width: 233px;
    height: 481px;
    border-left: 1px solid #aaaeb6;
    float: left;
}
#helpWindow.selected_option_e #helpWindow_mainFrame,
#helpWindow.selected_option_e #helpWindow_subFrame{
    border: 0;
    background-image: none;
}
#helpWindow #helpWindow_mainFrame iframe,
#helpWindow #helpWindow_subFrame iframe {
    width: 100%;
    height: 100%;
    background-color: transparent;
}
#iframe_subFrame {
    background: url("http://whdn.williamhill.com/cms/images/rightNow/loading.gif?v=001") no-repeat scroll center center transparent;
}

/*** HELP WINDOW TEXT ***/
#helpWindow_hdr span.helpWindow_title, #helpWindow_hdr span.helpWindow_close, #helpWindow_hdr span.helpWindow_detach {
    font-weight: bold;
    font-size: 12px;
    color: #244e64;
    position: relative;
    top: 9px;
    text-shadow: 0px 1px 0px #fff;
}
#helpWindow_hdr span.helpWindow_close, #helpWindow_hdr span.helpWindow_detach {
    float: right;
}
#helpWindow_hdr span.helpWindow_close a, #helpWindow_hdr span.helpWindow_detach a {
    text-decoration: none;
    color: #244e64;
    padding: 0 20px 0 14px;
}
#helpWindow_hdr span.helpWindow_close a {
    border-left: 1px solid #fff;
    background: url("http://whdn.williamhill.com/cms/images/rightNow/closeDetach.png?v=001") no-repeat scroll 48px 1px transparent
}
#helpWindow_hdr span.helpWindow_detach a {
    border-right: 1px solid #aaaeb6;
    background: url("http://whdn.williamhill.com/cms/images/rightNow/closeDetach.png?v=001") no-repeat scroll 57px -15px transparent
}