//=============================================================================
/*
  GOALSCORER COMPONENT:
  - info at: https://williamhill.jira.com/wiki/display/BORNS/Grouped+Market+Templates

    STRUCTURE:

    using mainly the TAB component, so refer to wh-base/elements/_tabs.scss (using its mixin)

	// -- List element in file
	1/ --------- TABS
	2/ --------- CAROUSEL
	3/ --------- TEAM
	4/ --------- PLAYER HEADER
	5/ --------- PLAYER
	6/ --------- NOSCORER
	7/ --------- TITLE PLAYER / TEAM
	8/ --------- DISABLED ODDS
	9/ --------- LIST ODDS

*/
//=============================================================================
$breakpoint-landscape-phone: 480;
$breakpoint-small-tablets: 520;
$breakpoint-goalscorer-tabs: 700;

.cpt-goalscorer{

	.col-inner{
		font-size: 12px;	
	}

	.flex-container{
		background: $container-white-bg-color;
		padding: px_to_em(8, 12) px_to_em(8, 12) 0;
		@include flexbox();
		@include flex-wrap();
		//---------- IE9 case
		@include old-ie {
			display: block;
			@include pie-clearfix();
		}
	}



	//---------------------------------------- TABS
	//@mixin tabs_styles($text-color, $background-color, $text-color-active, $background-color-active, $breakpoint:600)
	.tabs{

	  	//@include tabs_styles($text-color: $text-blue-dark-color, $background-color: $container-gray-light-bg-color, $text-color-active: $text-white-color, $background-color-active: $eastern-blue-2 , $breakpoint:$breakpoint-goalscorer-tabs);


		// ==== NAVIGATION TABS
		//should be as a modifier in _tabs.scss, but to avoid conflict:
		.tabs__nav{
			&-item{
				width: 50%;
				justify-content: center;
				//---------- IE9 case
				@include old-ie {
					float: left;
				}
			}
		}

		.tabs__panels{
			width: 100%;
		}

		.tabs__panels-panel--active{
			padding: 0;
		}

	  	&--enabled {
			.tabs__nav {
				@include breakpoint(px_to_em($breakpoint-goalscorer-tabs)) {
			  		display: none;
				}
		  	}
		}
	}

	//---------------------------------------- CAROUSEL
	.carousel{
		display: block;
		@include breakpoint(700px){
			display: none!important;
		}
	}

	//---------------------------------------- TEAM
	// main wrapper for each team
	&__team{
		@include pie-clearfix();
	}

	//---------------------------------------- PLAYER HEADER
	// article element: player (player name + contains all odds)
	&__team-header{
		width: 31.3333%;
		text-align: center;
		display: none;
		background-color: $container-gray-light-bg-color;
		margin-bottom: px_to_em(8, 12);
		font-weight: bold;
		padding: px_to_em(4, 12) 0;

		@include breakpoint(px_to_em($breakpoint-goalscorer-tabs)){
			@include pie-clearfix();
			width: 100%;
			@include flexbox();
			@include flex-align-items(center, center);

			//---------- IE9 case
			@include old-ie {
				display: block;
			}
		}
	}

	//---------------------------------------- PLAYER
	// article element: player (player name + contains all odds)
	&__player{
		width: 33.3333%;
		text-align: center;
		padding-bottom: px_to_em(8, 12);
		@include flex-align-self(flex-end);

		@include breakpoint(px_to_em($breakpoint-landscape-phone)){
			width: 20%;
		}

		@include breakpoint(px_to_em($breakpoint-small-tablets)){
			width: 16.66666666666667%;
		}

		@include breakpoint(px_to_em($breakpoint-goalscorer-tabs)){
			@include pie-clearfix();
			width: 100%;
			float: none;
			margin: 0;
			@include flexbox();
			@include flex-align-items(center, center);
			&:last-child:not(.cpt-goalscorer__player--noscorer){
				padding-bottom: 0;	
			}

			@include old-ie {
	  			float: none;
	  		}
		}

		//---------- IE9 case
  		@include old-ie {
  			display: block;
  			float: left;
  		}

		//---------------------------------------- NOSCORER
		// noscorer is the big button at the bottom
		&--noscorer{
			width: 100%;
			padding-bottom: px_to_em(16, 12);
			margin-top: px_to_em(-8, 12);
			@include breakpoint(px_to_em($breakpoint-goalscorer-tabs)){
				padding-bottom: px_to_em(8, 12);
				margin-top: 0;
			}

			li{
				display: block!important;
			}

			.cpt-goalscorer__title{
				display: none;
				@include breakpoint(px_to_em($breakpoint-goalscorer-tabs)){
					display: inline-block;
				}
			}

			.selectiondetails {
				&:before{
					content: attr(data-player);
					font-weight: normal;
					display: block;
					@include breakpoint(px_to_em($breakpoint-goalscorer-tabs)){
						display: none;
					}
				}

				&:after{
					content: attr(data-odds);
				}
			}

		}
	}

	//---------------------------------------- TITLE PLAYER / TEAM
	// header with player/team name
	&__title{
		@include pie-clearfix();
		@include flex(1 1 auto);
		
		h2, h3{
			@include flexbox();
			@include flex-align-items(center, center);
			min-height: px_to_em(32, 14);
			padding: 0 px_to_em(8, 12) 0;
			@include flex-justify-content(center, center);
		}

		h2{
			font-weight: bold;
			@include flex-justify-content(flex-start);
		}

		@include breakpoint(px_to_em($breakpoint-goalscorer-tabs)){
			display: inline-block;
			float: left;
			text-align: center;
			h3{
				@include flex-justify-content(flex-start);
				text-align: left;
			}

			//---------- IE9 case
	  		@include old-ie {
	  			display: block;
	  			h2, h3{
	  				display: table-cell;
	  				vertical-align: middle;
	  				width: 140px;
	  				text-align: left;
	  			}
	  		}
		}
	}

	//---------------------------------------- DISABLED ODDS
	.disabled, 
	.disabled-market,
	.disabled-event &,
	.disabled-event & .-selectionadded,
	.disabled.-selectionadded,
	.disabled-market .-selectionadded,
	{
		.selectiondetails{
			@include suspended-market($text: 'Susp.');
			color: $button-grey-bg-color;
		}
	}

	//---------------------------------------- LIST ODDS
	// ul element with all the odds
	&__list-odds{
		//float: right;
		list-style-type: none;
		display: block;
		margin-top: px_to_em(8, 12);
		padding: 0 px_to_em(4, 12);

		li{
			display: none;

			&.title{
				text-align: center;
			}

			@include breakpoint(px_to_em($breakpoint-goalscorer-tabs)){
				display: inline-block;
				width: px_to_em(64, 12);
				margin-left: 8px;
			}

			.selectiondetails{
				&:after{
					content: attr(data-odds);
				}
				//---------- IE9 case
				@include old-ie {
					padding: 0;
				}
			}

		}

		//========================================= LOGIC FOR ODDS DISPLAY MOBILE (link to carousel)
		div[data-type-odds-selected="market-1"] & {
			li.odds-market-1{
				display: block; 
			}
		}

		div[data-type-odds-selected="market-2"] & {
			li.odds-market-2{
				display: block; 
			}
		}

		div[data-type-odds-selected="market-3"] & {
			li.odds-market-3{
				display: block; 
			}
		}

		div[data-type-odds-selected="market-4"] & {
			li.odds-market-4{
				display: block; 
			}
		}

		div[data-type-odds-selected="market-5"] & {
			li.odds-market-5{
				display: block; 
			}
		}

		div[data-type-odds-selected="market-6"] & {
			li.odds-market-6{
				display: block; 
			}
		}

		div[data-type-odds-selected="market-7"] & {
			li.odds-market-7{
				display: block; 
			}
		}

		@include breakpoint(px_to_em($breakpoint-goalscorer-tabs)){
			width: calc(100% - 135px);
			text-align: right;
			margin-top: 0;
			padding: 0;
			@include flexbox();
			@include flex-align-items(center, center);
			@include flex-justify-content(flex-end, end);

			//---------- IE9 case
	  		@include old-ie {
	  			display: table;
	  			float: right;
	  			@include pie-clearfix();
	  			li{
	  				display: table-cell;
	  				float: left;
	  			}
	  		}
		}
	}

	//---------------------------------------- LOAD MORE CONTAINER
	.show-lines{
		clear: both;
		margin: px_to_em(8, 12) 0;
		display: block;
		width: 100%;
		
		.show-more-button{
			display: block;
			width: 50%;
			max-width: 200px;
			margin: 0 auto;
			padding: px_to_em(12, 12);
			border: none;
			@include border-radius(px_to_em(3));
			background: $button-blue-bg-color;
			color: $button-text-color;
			cursor: pointer;

			&:hover{
				background-color: darken($button-blue-bg-color, 5%);
			}
		}

	}
}
