.subheader {
  @include container(100%);
  padding: 0 px_to_em(8, 12);
  background: $promenade;
  display: none;
  line-height: px_to_em(20, 12);
  font-weight: bold;

  &.persist {
    display: block;
  }

  @include breakpoint($breakpoint-4) {
    display: block;
  }
}

.subheader__inner {
  float: right;

  @include breakpoint($breakpoint-1) {
    @include container(100%);
    //float: none;
    margin: 0;
  }
}