//.outcomes {
//  display: table;
//  table-layout: fixed;
//
//  // Within .header__side - take note of the trailing ampersand &
//  .header__side & {
//    float: right;
//    @include breakpoint($breakpoint-4) {
//      display: none;
//    }
//  }
//
//  &.x2 {
//    width: px_to_em(200, 12);
//  }
//
//  .outcomes__col {
//    padding: 0 px_to_em(4, 12);
//    display: table-cell;
//  }
//}


// Markets Templates
/*
.market-columns {
  padding-right: 8px;
  width: 100%;
}

.column{
  min-height:1px; // JC this prevents columns collapsing when no market options exist (keeping x2 and x3 layouts)
}

.cx1 {
  float: left;
  min-height: 1px;
  width: 100%;

  li {
    padding-left: 8px;
    width: 33.3333%;
  }

}

.cx2 {
  float: left;
  min-height: 1px;
  width: 50%;

  li {
    padding-left: 8px;
    width: 100%;
  }
}

.cx3 {
  float: left;
  min-height: 1px;
  width: 33.3333%;

  li {
    padding-left: 8px;
    width: 100%;
  }

}

.-twoWay {
  li {
    padding-left: 8px;
    width: 50%;
  }
}


// markets Win Win and Win to Win
.marketW {

  .subheader {
    padding: 0;
    .subheader__inner {
      padding-left: 4px;
    }
    h3 {
      padding: 0 8px;
    }
  }

  .market-columns {
    //width: 100%;
  }

  .event__main {
    @include span(1 of 2);
  }

  .event__side {
    clear: none;
    margin-top: 0px;
    @include span(1 of 2);
  }

  .subheader {
    > .x2 {
      width: 50%;
      .oddstitle {
        width: 50%;
      }
    }
    > .x3 {
      width: 50%;
      .oddstitle {
        width: 33.33333%;
      }
    }
  }

  .cx2 {
    float: left;
    width: 50%;

    &:nth-of-type(2) {
      padding-left: 8px;
    }

  }

  .oddsbutton {
    &:before {
      content: '';
    }
    &:after {
      float: none;
    }
  }
}

// Event page
.events__market-container {

  .market {
    margin: 0.75em 4px 0.75em 0px;
    @extend .clearfix;
  }

  .x2 {
    > li {
      float: left;
      padding-left: 8px;
      width: 50%;
    }
  }

  .x3 {

    > li {
      float: left;
      padding-bottom: 8px;
      padding-left: 8px;
      width: 33.33333%;
    }

    .outcomes__col {
      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .-twoWay {
    ul > li > ul > li {
      padding-left: 0;
      width: 100%;
    }
  }

}*/