/*

  MARKETS
  - THe various market displays

  Markets List
  marketDC  : Double chance
  marketHT  : Half Time Live
  marketHF  : Half-time / Full-time
  marketLG  : Last Team to Score live
  marketH2  : Second half
  marketMH  : Match Handicap
  marketMR  : Match betting Live

*/

.scrollable {
  position: relative;

  .item {
    right: 0;
    left: 0;
    //  top: 0;
    position: absolute;
    //  top: 0;
    will-change: transform, opacity;
  }
}

// Main Styles
.market {
  display: block;
  padding: px_to_em(12, 12) 0 px_to_em(6, 12);
  will-change: height;

  .inplay &{
    padding-top: 0;
  }

  //---------- IE9 case
  @include old-ie {
    @include pie-clearfix;
  }

  // for racing specials
  .race-event-wrapper & {
    .market__bettingblock {
      display: block;
    }
  }

  // Parent to .market__column or .market__row
  .market__bettingblock {
    margin: 0;
    @include flexbox();
    font-size: 12px;
    padding: 0 px_to_em(3, 6);
    @include flex-flow(row wrap);
    width: 100%;
    position: relative;
  }


  // Collective styling for market__button and market__label
  .market__label, .market__button {
    margin-bottom: px_to_em(8, 12);
  }

  // Market buttons
  .market__button {
    @include flex(1 1 auto);

    &.disabled {
      .selectiondetails {
        color: $button-grey-bg-color;
        &:after {
          content: "Suspended";
          font-size: px_to_em(11, 12);
        }
      }
    }
  }

  // to fix SBK-817
  .marketHF {
    .market__button {
      @include flex(1 1 auto);
    }
  }

  // Market Labels
  .market__label {
    &.-top {
      text-align: center;
    }
  }

  // Acts like a table for button contents
  .selectiondetails{
    display: table;
    width: 100%;

    &:before, &:after {
      display: table-cell;
      vertical-align: middle;
    }

    &:before {
      content: attr(data-player);
      text-align: left;
      padding-right: 2px;
      font-weight: normal;
      max-width: none;
      word-wrap: break-word;
      white-space: nowrap;
      @include breakpoint(($breakpoint_market-4, $breakpoint-13)){
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        max-width: 90px;
      }

    }
    
    &:after {
      content: attr(data-odds);
      font-weight: bold;
      right: $baseGutterVal;
      text-align: right;
      padding-left: 2px;
    }
  }

  .selectionplayer{
    display: none;
  }

  .selectionplayer{
    &:empty{
      display: none;
    }
  }

  .selectionhandicap{
    text-align: left;
    vertical-align: middle;
    font-weight: normal;
    &:before{
      max-width: none;
    }
    &:empty{
      display: none;
    }
  }

  // SBK-961 Acts like a flexbox for button contents
  // Mobile first approach
  .marketDC, .marketHT, .marketHF, .marketLG, .marketH2, .marketMH, .marketMR {
    .selectiondetails {
      width: auto;
      @include flexbox();
      @include flex-justify-content(space-between, justify);
      @include flex-align-items(center, center);
      @include flex-direction(column, normal, vertical);

      @include respond-to(440) {
        @include flex-direction(row, normal, horizontal);
      }

      &:before, &:after {
        display: inline;
      }

      &:before {
        padding-right: 0;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        width: 100%;
        @include respond-to(440) {
          text-align: left;
        }
      }
      &:after {
        min-width: 14px;
        padding-top: 4px;
        @include respond-to(440) {
          padding-top: 0;
        }
      }
    }
  }


  .disabled-event &,
  &.disabled-market,
  .disabled-market & {
    .selectiondetails {
      color: $button-grey-bg-color;
      &:after {
        content: "Susp.";
        font-size: px_to_em(11, 12);
        @include breakpoint($breakpoint-6){
          content: "Suspended";
        }
      }
    }
  }

}
// end Main Styles

// Grouping of the market selections
.market__wrapper {
  // Default Breakpoint for full width selecions
  /*@include breakpoint(0 px_to_em(400, 12)) {
    @include flex(1 100%);
  }

  @include breakpoint($breakpoint-3-flip) {
    @include flex(1 100%);
  }*/

  //Hide Empty ones
  &:empty {
    //display: none;
  }

  //---------- IE9 case
  @include old-ie {
    .market__button.oddsbutton{
      display: block;
      max-width: none;
      float: none;
      line-height: 10px;
    }
  }
}


.marketheader {
  @include flexbox();
  padding: 0 px_to_em(4, 12);
  width: 100%;

  //---------- IE9 case
  @include old-ie {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .marketheader__label {
    @include flex(1);
    margin: 0 px_to_em(4, 12);
  }

  &.x2 {
    .marketheader__label {
      max-width: 50%;
    }
  }
  &.x3 {
     .marketheader__label {
       max-width: 33%;
     }
  }
  &.x4 {
    .marketheader__label {
      max-width: 25%;
    }
  }
}

// Match Betting markets (Win-Draw-Win, Win-Win, Correct Score, us-sports)
.marketW {

  .subheader {
    &.persist {
      display: none;
    }
    padding: 0;
    .subheader__inner {
      padding-left: 4px;
    }
    h3 {
      padding: 0 8px;
    }
  }

  .event__main {
    width: 100%;
    margin-bottom: px_to_em(8, 12);
  }

  .event__side {
    clear: none;
    margin-top: px_to_em(4);
    .market {
      padding-bottom: 0;
    }
  }

  .subheader {
    > .x2 {
      width: 50%;
      .oddstitle {
        width: 50%;
      }
    }
    > .x3 {
      width: 50%;
      .oddstitle {
        width: 33.33333%;
      }
    }
  }

  .event__side {
    width: 100%;
  }

  .subheader__inner {
    width: 50%;
  }

  .cx2 {
    @include flex(2);
    //---------- IE9 case
    @include old-ie {
      padding-top: 50%;
    }
  }

  .cx3,
  .cx4, {
    @include flex(1 3);
    //---------- IE9 case
    @include old-ie {
      width: 33.3333%;
      display: block;
      float: left;
      margin: 0;
      padding:0;
      .oddsbutton.market__button{
        width: 98%;
        margin: 0 1%;
      }
    }
  }

  &.win-win,
  &.win-draw-win,
  &.us-sports, {

    .cx2 {
      &.column-0 .selectiondetails:before {
        content: "(1)";
      }
      &.column-1 .selectiondetails:before {
        content: "(2)";
      }
    }

    .cx3 {
      &.column-0 .selectiondetails:before {
        content: "(1)";
      }
      &.column-1 .selectiondetails:before {
        content: "(x)";
      }
      &.column-2 .selectiondetails:before {
        content: "(2)";
      }
    }

    .cx2,
    .cx3,
    .cx4, {
      &.column .selectiondetails {
        &:before,
        &:after {
          display: inline-block;
          margin: 0 auto;
        }
        &:before {
          float: left;
        }
      }
    }

    .selectiondetails {
      &:before {
        content: '';
        display: none;
      }
      &:after {
        text-align: center;
      }
    }

    .event__side .market .market__wrapper.-twoWay .market__button {
      margin-bottom: 0;
    }

    &:not(.comp-container) {
      @media (max-width: px_to_em(1079)) and (min-width: px_to_em(570)), (min-width: px_to_em(1190)) {
        .event__main {
          margin-bottom: 0;
        }

        .event__main, .event__side {
          width: 50%;
          float: left;
        }

        .market__bettingblock {
          padding: 0 px_to_em(3, 6);
        }

        .subheader {
          display: block;
        }

        .cx2,
        .cx3,
        .cx4, {
          &.column .selectiondetails:before {
            content: none;
          }
        }
      }
    }
  }

  &.us-sports{
    .eventopenoptions {
      display: block;
      &:hover {
        color: lighten($eastern-blue, 5%);
      }
    }
    .oddsbutton{
      font-weight: normal;
      padding: px_to_em(8, 12);
    }

    .selectiondetails, .selectionhandicap{
      display: table;
      width: 100%;

      &:before, &:after {
        display: inline;
        vertical-align: middle;
      }
    }

    .selectionhandicap{
      display: inline;
      vertical-align: bottom;
    }

    .selectiondetails{
      @include respond-to(440) {
        @include flex-direction(column, normal, vertical);
      }
    }
    .event__side .market .market__wrapper.-twoWay .market__button {
      margin-bottom: 20px;
    }

    .cx3, {
      &.column-2 .selectionplayer{
        display: inline;
        vertical-align: bottom;
        &:empty{
          display: none;
        }
      }
      &.column-1 .selectionplayer,
      &.column-0 .selectionplayer{
        display: none;
      }
    }

    .cx3 {
      &.column-0 .selectiondetails:before {
        content: "Money Line";
      }
      &.column-1 .selectiondetails:before {
        content: "Spread";
      }
      &.column-2 .selectiondetails:before {
        content: "Total Runs";
      }
      &.column-0 .selectiondetails:before,
      &.column-1 .selectiondetails:before,
      &.column-2 .selectiondetails:before {
        text-align: center;
      }
    }

  }
  
  &.comp-container {
    .market__bettingblock {
      padding: 0 px_to_em(3, 6);
    }

    @media (min-width: px_to_em(570)) and (max-width: px_to_em(1080)) {
      .event__main {
        margin-bottom: 0;
      }

      .event__main, .event__side {
        width: 50%;
        float: left;
      }
      
      .subheader {
        display: block;
      }

      .cx2,
      .cx3,
      .cx4, {
        &.column .selectiondetails:before {
          content: none;
        }
      }
      
    }
  }

}

@mixin markets($breakpoint) {

  .market__wrapper {
    display: flex;

    // 3 Columns - Single items
    &.marketH1,
    &.marketH2,
    &.marketSF,
    &.marketLG,
    &.marketHT,
    &.marketWH,
    &.marketDC {
      @include flexbox();
      @include flex(1 3);

      @include breakpoint($breakpoint) {
        @include flex(1 3);
      }
    }

    &.marketMH {
      @include flexbox();
      @include flex(1 3);
      @include breakpoint($breakpoint) {
        @include flex(1 3);
      }
    }

    // 2 Column
    &.marketDN,
    &.marketHL,
    &.marketHH {
      @include flex(1 100%);

      @include breakpoint($breakpoint) {
        @include flex(1 2);
      }
    }

    // 1 Column - multiple buttons
    &.market--,
    &.marketWM {
      @include flexbox();
      @include flex-flow(row wrap);
      margin: 0;
      width: 100%;

      @include breakpoint($breakpoint) {
        margin: 0;
      }

      .market__button {
        @include flex(1 100%);
        margin: 0 px_to_em(3.5, 12) px_to_em(8, 12);

        @include breakpoint($breakpoint) {
          @include flex(1 33%);
        }
      }
    }

    // Total Goals market
    //    1 Column multiple buttons - small
    //    2 Column for mobile
    &.marketTG {
      @include flexbox();
      @include flex-flow(row wrap);
      width: 100%;

      .market__button {
        @include flex(1 20%);
        margin: 0 px_to_em(3.5, 12) px_to_em(8, 12);

        // mobile - 570px
        @include breakpoint($breakpoint-1) {
          @include flex(1 40%);
        }
      }
    }

    // 2 Column inline
    &.marketOE {
      @include flex(1 2);
    }

    // 3 column - Correct Score
    &.marketCS {
      @include flex(1 1 auto);
      margin-bottom: px_to_em(8, 12);
      flex-wrap: wrap;

      .market__button {
        margin: 0 px_to_em(3.5, 12) px_to_em(8, 12);
      }

      &:empty { 
        display: none;
        @include breakpoint($breakpoint) {
          display: inline-block;
        }
      }

      @include breakpoint($breakpoint) {
        @include flex(1 3);
        margin-bottom: 0;
        align-content: flex-start;
      }

      @include breakpoint(px_to_em(1230)) {
        @include flex(1 3);
        margin-bottom: 0;
        align-content: flex-start;
      }
    }

    // 3 column - Half time/Full time
    &.marketHF {
      @include flexbox();
      @include flex(1 3);
      margin-bottom: 0;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;

      &:empty { 
        display: none;
        @include breakpoint($breakpoint) {
          display: inline-block;
        }
      }

      &:last-of-type {
        margin-right: px_to_em(4, 12);
      }

      &.-twoWay {
        .market__button {
          width: auto;
          margin-right: 0;
        }
      }
    }

    &.-twoWay {
      margin: 0;
      &:not(.marketHF):not(.marketCS) {
        .market__button {
          @include flex(1 2 40%);
          min-width: 40%; // stops them from going tiny
          margin: 0 px_to_em(3.5, 12) px_to_em(8, 12);

          //---------- IE9 case
          @include old-ie {
            display: block;
          }
        }
      }
      
    }
  }

  // Match Betting markets (Win-Draw-Win, Win-Win)
  &.marketW {
    .market__wrapper.-twoWay .market__button {
      margin: 0 px_to_em(3.5, 12) px_to_em(8, 12);
    }
  }

}

// Sometimes it needs to be forced ro 2 columns no matter what the size
@mixin cx2 {
  .market .market__wrapper.cx2 {
    @include flex(1 2);
  }
}

// Comps Page
.competitionsmarket {
  @include markets($breakpoint_market-1);
  @include cx2;
}

// Highlights Page
.highlightsmarket {
  @include markets($breakpoint_market-1);
  @include cx2;
}

// Matches Page
.matches {
  @include markets($breakpoint_market-1);
  @include cx2;
}

// Events Page, Meetings page
body[data-page='events'], body[data-page='meetings'] {
  @include markets($breakpoint_market-2);

  // Page Specific
  .market__wrapper {
    &.marketMR {
      display: block;
      @include flex(1 100%);

      @include breakpoint($breakpoint_market-2) {
        @include flex(1 3);
      }
    }
  }
}