// This CSS is for My Account overlays (registration, details, transactions)
// Defines the width, height, max-width, etc... of the overlays at different breakpoints

.overlay-details,
.overlay-registration,
.overlay-transactions,
.overlay-password-recovery {
  .mfp-iframe-scaler {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .mfp-container {
    padding: 0;
    @include transition(padding ease 0.5s);
    @include breakpoint(340px) {
      padding: 40px 0;
    }
  }
  .mfp-content {
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

/* Registration */
 .overlay-registration {
  .mfp-content {
    max-width: none !important; /* Makes the overlay 100% width - scrollbar is on far right */
    @include breakpoint(680px) {
      min-height: 563px; /* For deposit page which needs 563px height to avoid scrollbars */
    }
  }
}

/* Details */
/* max-width have 20px extra to allow scrollbars on desktop */
.overlay-details {
  .mfp-content {
    max-width: 340px !important;
    @include breakpoint(680px) {
      max-width: 660px !important;
    }
  }
}

/* Statements */
.overlay-transactions {
  .mfp-content {
    @include breakpoint(340px) {
      width: 95% !important;
      max-width: 1280px !important;
    }
  }
}

/* Account Recovery */
.overlay-password-recovery {
  .mfp-content {
    max-width: 480px !important;
  }
}
