/*

  MARKET - SEVENWAY
  - Goalscorer

*/

.-sevenMatrix {

  hr.teamDivider { display: none; }

  .betting-block {
    label {
      display: none;
    }
  }

  //TODO[cm] This is only for a Demo. Remove it. It will be done with AngularJS.
  div:not:nth-of-type(3) {
    display: none;
  }

  .button.-bet {
    &:before {
      content: attr(data-shorthand);
      width: auto;
    }
  }

  > .header {
    display: none;
  }

  select {
    margin-bottom: (2*$baseGutter);
    width: 100%;
  }

  label {
    //TODO[cm] review this
    font-size: 12px;
  }

  // the 'table' layout with column headers and row headers
  @include respond-to($upperLimit) {

    hr.teamDivider {
      border: 0;
      border-bottom: 1px dashed $border-light-gray-color;
      display: block;
      margin: 0 0 $baseGutter 0;
    }

    > .header {
      display: block;
    }

    //TODO[cm] This is only for a Demo. Remove it. It will be done with AngularJS.
    div:nth-of-type(3) {
      display: block;

      @if $oldIE == false {
        @include flexbox();
      }
    }

    label {
      font-size: emIt(12);
    }

    select { display: none; }

    .header {
      margin-bottom: ($baseGutter*2);

      @if $oldIE == false {
        @include flexbox();
      }

      label {
        text-align: center;
        @if $oldIE == false {
          width: 100%;
        } @else {
          width: 12.5%;
        }

        &:not(:first-of-type) {
          margin-left: $baseGutter;
        }

        &.first {
          //TODO[cm] review this
          @if $oldIE == false {
            min-width: remIt(130);
            width: remIt(130);
          }
        }
      }

    }

    .betting-block {

      overflow: auto;

      @if $oldIE == false {
        @include flexbox();
      }

      label {
        display: block;
        float: left;
        line-height: emIt(32);
        //TODO[cm] review this
        @if $oldIE == false { 
          width: remIt(130); //emIt(130);
        } @else {
          width: 12.5%;
        }
      }

      .button.-bet {
        float: left;

        @if $oldIE == false {
          @include flex(1);
          @include order(2);
        }

        &:not(:first-of-type) { margin-left: $baseGutter; }

        &:before {
          content: attr(data-shorthand);
          display: none;
        }

        &:after {
          content: attr(data-odds);
          position: relative;
          right: auto;
          top: auto;
        }
      }

    }

  }

}