/*

  MARKET - THREEWAY
  - Win-Draw-Win, Double Chance, Handicap Result

*/

.-threeWay {

  margin-bottom: $baseGutter;
  padding: px_to_em(8, 12) px_to_em(8, 12) 0 px_to_em(8, 12);

  // default display (mobile first) is the column
  @include respond-between($columnBreakOthers, $upperLimit) {
  
  .button.-bet {
      &:before {
        content: attr(data-shorthand);
        text-align: left;
      }
    }

  }

  // when viewport is wide enough, show buttons side-by-side
  @include respond-to($columnBreakThree) {

    @if $oldIE == false {
      @include flexbox();
    }

    .button.-bet {
      margin-bottom: 0;

      @if $oldIE == false {
        @include flex(1);
        @include order(2);
      }

      &:not(:first-of-type) {
        margin-left: $baseGutter;
      }
    }
  }

}