/*

  MARKET - TWOWAY
  - Halves Win, Draw No bet

*/

.-twoWay {

  padding: px_to_em(8, 12);

  // as with .threeWay, stack in a column first
  .button.-bet {      
    @if $oldIE {
      width: 49%;
    }
  }

  @include respond-to($columnBreakOthers) {
    
    @if $oldIE == false {
      @include flexbox();
    }

    .button.-bet {
      margin-bottom: 0;

      @if $oldIE == false {
        @include flex(1);
        @include order(2);
      }

      &:not(:first-of-type) {
        margin-left: $baseGutter;
      }
    }
  }

}