/*

  COLOURS

*/

// -------------------------------------------------------------------------------------------------------------
// Color Palette
// -------------------------------------------------------------------------------------------------------------

$hollywood-cerise:                  rgb(242, 2, 154);   // #F2029A
$curious-blue:                      rgb(19, 149, 208);  // #1395D0
$bossanova:                         rgb(87, 35, 92);    // #57235C
$gray:                              rgb(136, 136, 136); // #888888
$flush-orange:                      rgb(255, 120, 0);   // #FF7800
$lipstick:                          rgb(182, 0, 82);    // #B60052
$chathams-blue:                     rgb(24, 75, 116);   // #184B74
$elephant:                          rgb(18, 50, 75);    // #12324B
$teal:                              rgb(0, 148, 128);   // #009480
$white:                             rgb(255, 255, 255); // #FFFFFF
$black:                             rgb(0, 0, 0); 		// #000000
$mountain-meadow:                   rgb(19, 186, 133);  // #13BA85
$hit-gray:                          rgb(159, 172, 178); // #9FACB2
$eastern-blue:                      rgb(36, 140, 179);  // #248CB3
$curious-blue:                      rgb(44, 164, 209);  // #2CA4D1
$indochine:                         rgb(211, 125, 3);   // #D37D03
$clay-creek:                        rgb(128, 120, 92);  // #80785C
$raw-umber:                         rgb(120, 66, 16);   // #784210
$razzmatazz:                        rgb(210, 9, 90);    // #D2095A
$fresh-eggplant:                    rgb(149, 0, 81);    // #950051
$bermuda-gray:                      rgb(117, 143, 168); // #758FA8
$amethyst:                          rgb(140, 86, 206);  // #8C56CE
$blue-chill:                        rgb(18, 156, 144);  // #129C90
$salt-box:                          rgb(117, 86, 122);  // #75567A
$porcelain:                         rgb(230, 232, 233); // #E6E8E9
$eastern-blue-2:                    rgb(35, 126, 177);  // #237EB1
$blumine:                           rgb(30, 88, 132);   // #1E5884
$supernova:                         rgb(255, 199, 3);   // #FFC703
$mine-shaft:                        rgb(34, 34, 34);    // #222222
$cosmos:                            rgb(255, 216, 214); // #FFD8D6
$red:                               rgb(255, 0, 0);     // #FF0000
$scandal:                           rgb(216, 251, 246); // #D8FBF6
$oasis:                             rgb(254, 233, 202); // #FEE9CA
$brandy-punch:                      rgb(201, 120, 39);  // #C97827
$dove-gray:                         rgb(102, 102, 102); // #666666
$gallery:                           rgb(234,234,234);   // #EAEAEA
$glacier:                           rgb(111,173,199);   // #6FADC7
$jelly-bean:                        rgb(37, 103, 153);  // #256799
$mojo:                              rgb(197, 80, 63);   // #C5503F
$cinnabar:                          rgb(227, 75, 53);   // #E34B35
$fire-bush:                         rgb(227, 138, 48);  // #E38A30
$vivid-violet:                      rgb(133, 55, 141);  // #85378D
$citron:                            rgb(150, 179, 36);  // #96B324
$atlantis:                          rgb(170, 202, 42);  // #AACA2A
$geyser:                            rgb(218, 223, 229); // #DADFE5
$submarine:                         rgb(180, 191, 197); // #B4BFC5
$silver-sand:                       rgb(198, 202, 205); // #C6CACD


//---------------------------------------------------------------------------------------------------------------
// Variables from old colours
//---------------------------------------------------------------------------------------------------------------
$promenade:                         rgb(238, 238, 238); // #EEEEEE		                rgb(38, 86, 124);	// #26567C => used on mobile nav for main sections: Betting / Casino / Poker ...
$bay-of-many:		                rgb(38, 86, 124);	// #26567C => used on mobile nav for main sections: Betting / Casino / Poker ...
$bright-sun: 		                rgb(255, 221, 64);  // #FFDD40
$mercury:                           rgb(230, 230, 230); // #E6E6E6
$silver: 							rgb(187, 187, 187); // #BBBBBB
$Athens-Gray:						rgb(238, 241, 243); // #EEF1F3 


// -------------------------------------------------------------------------------------------------------------
// Transparency Color Palette
// -------------------------------------------------------------------------------------------------------------
$transparency-black-dark-color:     rgba(0, 0, 0, 0.8);
$transparency-black-light-color:    rgba(0, 0, 0, 0.3);
$transparency-white-dark-color:     rgba(255, 255, 255, 0.9);
$transparency-white-light-color:    rgba(255, 255, 255, 0.3);
$transparency-white-lighter-color:  rgba(255, 255, 255, 0.1);
$transparency-white-lightest-color: rgba(255, 255, 255, 0.04);


// -------------------------------------------------------------------------------------------------------------
// Global
// -------------------------------------------------------------------------------------------------------------
$body-bg:                             $chathams-blue;
$body-color:                          $mine-shaft;

// -------------------------------------------------------------------------------------------------------------
// Background Images
// -------------------------------------------------------------------------------------------------------------
$background-image-path:               url('../images/bg-pattern.png') repeat top left;

// -------------------------------------------------------------------------------------------------------------
// Texts
// -------------------------------------------------------------------------------------------------------------
$text-black-color:                    $mine-shaft;
$text-white-color:                    $white;
$text-blue-color:                     $eastern-blue;
$text-blue-dark-color:                $chathams-blue;
$text-grey-color:                     $dove-gray;

// -------------------------------------------------------------------------------------------------------------
// Links
// -------------------------------------------------------------------------------------------------------------
$link-white-color:                    $white;
$link-blue-color:                     $eastern-blue;
$link-blue-hover-color:               $curious-blue;
$link-blue-dark-color:                $blumine;
$link-blue-darker-color:              $chathams-blue;

// -------------------------------------------------------------------------------------------------------------
// Borders
// -------------------------------------------------------------------------------------------------------------
$border-blue-color: 			      $eastern-blue;
$border-blue-dark-color:		      $chathams-blue;
$border-blue-darker-color:		      $elephant;
$border-white-color:			      $white;
$border-gray-color:				      $dove-gray;
$border-light-gray-color:		      $silver-sand;

// -------------------------------------------------------------------------------------------------------------
// Buttons
// -------------------------------------------------------------------------------------------------------------
$button-green-bg-color:               $teal;
$button-green-hover-bg-color:         $mountain-meadow;
$button-blue-bg-color:                $eastern-blue;
$button-blue-hover-bg-color:          $curious-blue;
$button-blue-dark-bg-color:           $chathams-blue;
$button-blue-darkest-bg-color:		  $elephant;
$button-blue-dark-hover-bg-color:     $jelly-bean;
$button-grey-bg-color:                $hit-gray;
$button-red-bg-color:                 $mojo;
$button-red-hover-bg-color:           $cinnabar;
$button-orange-bg-color:              $brandy-punch;
$button-orange-hover-bg-color:        $fire-bush;
$button-purple-bg-color:              $bossanova;
$button-purple-hover-bg-color:        $vivid-violet;
$button-green-light-bg-color:         $citron;
$button-green-light-hover-bg-color:   $atlantis;
$button-text-color:                   $white;
$button-active-text-color: 			  $eastern-blue-2;


// -------------------------------------------------------------------------------------------------------------
// Odds Buttons
// -------------------------------------------------------------------------------------------------------------
$odds-button-bg-color:                $geyser;
$odds-button-hover-bg-color:          $submarine;
$odds-button-favourite-bg-color:      $button-green-bg-color;
$odds-button-added-bg-color:          $button-blue-bg-color;
$odds-button-removed-bg-color:        $button-red-bg-color;
$odds-button-middle-bg-color:         $button-orange-bg-color;

// -------------------------------------------------------------------------------------------------------------
// Alert/Error Messages
// -------------------------------------------------------------------------------------------------------------
$message-warning-bg-color:            $oasis;
$message-warning-border-color:        $brandy-punch;
$message-warning-font-color:          $brandy-punch;
$message-error-bg-color:              $cosmos;
$message-error-border-color:          $red;
$message-error-font-color:            $red;
$message-success-bg-color:            $scandal;
$message-success-border-color:        $teal;
$message-success-font-color:          $teal;

// -------------------------------------------------------------------------------------------------------------
// Inputs
// -------------------------------------------------------------------------------------------------------------
$input-color:                         $text-black-color;
$input-bg-color:                      $white;
$input-focus-border-color:            $eastern-blue;
$input-success-border-color:          $teal;
$input-error-border-color:            $red;

// -------------------------------------------------------------------------------------------------------------
// Header/Subheaders & Accordions
// -------------------------------------------------------------------------------------------------------------
$header-blue-bg-color:                $eastern-blue-2;
$header-blue-dark-bg-color:           $chathams-blue;
$header-blue-darkest-bg-color:	      $elephant;
$header-text-color:                   $gallery;
$header-text-active-color:		      $white;


// -------------------------------------------------------------------------------------------------------------
// Container
//--------------------------------------------------------------------------------------------------------------
$container-white-bg-color:		      $white;
$container-gray-bg-color:			  $promenade;
$container-gray-light-bg-color:		  $porcelain;
$container-yellow-bg-color:           $supernova;
$container-red-bg-color:              $red;
$container-blue-bg-color:             $eastern-blue;
$container-blue-dark-bg-color:        $blumine;
$container-blue-darker-bg-color:      $chathams-blue;
$container-blue-darkest-bg-color:     $elephant;