/*

  VARIABLES
  - Pretty self-explanatory, really...

*/

// Fonts --------------------------------------------------------
$bodyFont               : Arial, Helvetica, "Helvetica Neue", sans-serif;
$bodyFontSize           : 16;
$bodyFontString         : $bodyFontSize+px;
$bodyBaseline           : 1.4em;
$iconFontSize           : 16;
$iconFontString         : $iconFontSize+px;
$headerFontLarge        : 13;
$headerFontSmall        : 12;
$panelBorderThickness   : 8;

// Alignment ----------------------------------------------------
$baseGutterVal          : 8;
$baseGutter             : 8px;
$basePadding            : .8em;
$halfPadding            : $basePadding/2;
$thirdPadding           : $basePadding/3;
$box-margin-sm          : 0.66667em; // 8px
$box-margin-md          : 1.5em; // 24px

// Animations ---------------------------------------------------
$fastAnim               : 0.25s;

// Breakpoints --------------------------------------------------
$small              : 400;
$threeWayColWidth   : 96; //px
$otherColWidth      : 148; //px
$columnBreakThree   : (( 3 * ($threeWayColWidth + 8)) + 16); // appx 328px;
$columnBreakOthers  : (( 2 * ($otherColWidth + 8)) + 16); // also 328px;
$upperLimit         : 539;
$hidpi              : min-resolution 1.5dppx;

// Breakpoints from games ---------------------------------------
$gamesBreakPoint3Cols : 424;
$gamesBreakPoint4Cols : 624;
$gamesBreakPoint5Cols : 824;
$gamesBreakPoint6Cols : 992;

// Susy Vars/Constants ------------------------------------------
$total-columns          : 12;
$column-width           : 4em;
$gutter-width           : 1em;
$grid-padding           : $gutter-width;

$show-grid-backgrounds  : true;

// WH Structural vars -------------------------------------------
$whMaxWidth             : 1280px;
$whMinWidthNum          : 320;
$whMinWidth             : $whMinWidthNum+px;
$horizontalDrawerWidth  : px_to_em(330, 16);

// Alerts
$alert-padding: px_to_em(8, 12) !default;
$alert-border-radius: px_to_em(4, 12) !default;
$alert-link-font-weight: bold !default;

// Banners
$image-width: 848;
$image-height: 264;
$image-height-with-markets: 340;
$banner-proportional-height: percentage($image-height/$image-width);
$banner-with-markets-proportional-height: percentage($image-height-with-markets/$image-width);
$terms-icon-diameter: 32px;

// Odds format abbreviations
$odds-format-fraction: "FRA";
$odds-format-decimal: "DEC";
$odds-format-american: "US";
