// Labels
$badge-text-color: $text-black-color;
$badge-bg-color: $supernova;
$badge-bg-blue-color: $eastern-blue;
$badge-bg-dark-blue: $chathams-blue;

.badge {
  border-radius: px_to_em(3, 12);
  color: $badge-text-color;
  background: $badge-bg-color;
  padding: px_to_em(2, 12) px_to_em(4, 12);
  display: inline-block;
  font-weight: bold;
  text-align: center;

  &:empty {
    display: none;
  }
}