@charset "utf-8";
/* CSS Document */
/*
  $Id: betSlip.css,v 1.54.4.1 2013/03/06 10:26:07 shazleto Exp $
  Copyright (c) 2008 Orbis Technology Ltd. All rights reserved.

  Betslip CSS
*/
*:focus {
  outline: none;
}

#slip {
  margin-top: 0px !important;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: block;
  z-index: 0;
}

#slip h4 a {
  float: right;
}
#slip hr {
  visibility: hidden;
  margin-top: 10px;
}

#slip label {
  padding: 0;
  margin: 0;
}
.slipSelection,
.slipSelection label {
  color: $darkBlueText;
}

#slip .headRight {
  float: right;
  padding-top: 5px;
  margin-right: 10px;
}
#slip h2,
#slip h4,
#slip h5 {
  background-color: $whDarkBlue;
  color: $white;
  border-bottom: 1px solid $white;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0px;
  padding: px_to_em(5, 18) px_to_em(15, 18);
}
#slip h4 a {
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
}

#slip #slipHeader {
  padding: px_to_em(3, 12) px_to_em(15, 12);
}

#slip .slipErrorShort {
  float: left;
  display: inline;
}

#slip .quickDeposit .slipStake .csv {
  width: 40px;
}
.community #slip {
  margin-top: 0;
}
#slip.error {
  border: 3px solid #ff0000;
}
#slip .labelStake {
  display: block;
  float: right;
  padding-top: 0;
  margin-top: -1px;
  margin-left: 5px;
}
#slip .radioUnitStake {
  text-align: right;
  width: 14px;
  height: 14px;
  display: block;
  float: right;
}
#slip .stakeInput {
  width: 83px;
  margin-left: 8px;
}
#slip .stakeError {
  display: block;
  color: #FFF;
  margin-right: 10px;
  padding: 2px 10px 4px 10px;
  margin-top: -4px;
  font-weight: bold;
  width: 250px;
  position: absolute;
  left: 185px;
  text-align: center;
  display: none;
}

#slipNavigation li .tabPerks_badge {
  float: left;
  position: absolute;
  top: 2px;
  left: 61px;
  display: block;
  width: 18px;
  height: 18px;
  line-height: 17px;
  background: transparent url(../../img/ob/perks_circle.png) no-repeat;
}
#nav_tipit a {
  background: transparent url(../../img/ob/tipit_tab.png) no-repeat 5px top;
  padding-left: px_to_em(25, 12) !important;
}
#nav_tipit a span.starTips {
  background: transparent url(../../img/ob/tipit_star.png) no-repeat top;
  width: 8px;
  height: 9px;
  display: block;
  position: absolute;
  top: 0px;
  right: 5px;
}
#nav_tipit.active a {
  background: transparent url(../img/ob/tipit_tab.png) no-repeat 5px -16px;
}
#nav_tipit.active a span.starTips {
  background: transparent url(../img/ob/tipit_star.png) no-repeat center -9px;
}
#nav_tipit.inactive a {
  background: transparent url(../img/ob/tipit_tab.png) no-repeat 5px -32px;
}
#nav_tipit.inactive a span.starTips {
  background: transparent url(../img/ob/tipit_star.png) no-repeat center -17px;
}
.slipWrapper {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
#betSlip {
  display: block;
  padding: 0px;
}

#betSlip .slipTitle_details a {
  float: right;
  text-decoration: underline;
}
#betSlip .slipBtnDisclaimer {
  padding: 0px 8px 12px;
}

#slipBtns {
  margin-bottom: 0 !important;
}

#poolBettingContainer .slipPool {
  display: block;
  margin: 4px 0 0 0;
  border: none;
  padding: 0;
}
#poolBettingContainer .errorPool {
  border: 3px solid red;
}
.slipSupText {
  display: none;
  font-size: 1em;
  margin-bottom: 0px;
  text-align: center;
  width: 18px;
  height: 18px;
}
.slipSupText:hover :hover {
}
.slipEmpty {
  padding: 0;
  margin-top: 0px;
}
.slipEmpty .slipPromo {
  background: url(../img/ob/slipPromoBG.gif) repeat-x;
  margin-top: -1px;
  border-top: none;
  padding: 4px 0 4px 6px;
}
.slipEmpty .slipRow {
  padding: 20px 0;
  text-align: center;
  margin-top: 3px;
}
.slipEmpty.login .slipRow {
  padding: 0 0 0 8px;
  text-align: left;
  margin-top: 3px;
  border: none;
}
.slipEmpty.login .slipRow .slipLeft {
  width: 115px;
}


.slipTitle .slipSupText {
  position: absolute;
  right: px_to_em(10, 12);
  top:  px_to_em(10, 12);
  a {
    color: $white;
  }
}

.slipSupText a {
  text-decoration: none;
  font-weight: bold;
}

.slipTitle h4 .textSmall {
  font-size: 0.5em;
  letter-spacing: 0;
}
.slipHeader {
  height: 25px;
  padding: 2px 0 0 9px;
  color: #FFF;
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 3px;
}
body.langCN .slipHeader,
body.langZH .slipHeader {
  font-weight: normal;
  font-size: 1.1em;
}
.slipHeader .slipLeft {
  float: left;
  padding: 4px 0 0 17px;
  width: 179px;
  //background: url(../img/ob/arrowDown.gif) 1px 4px no-repeat;
}
.slipHeader .slipRight {
  float: left;
  width: 82px;
  padding: 4px 0 0 0;
  text-align: right;
}
.slipHeader a {
  color: #ffffff;
}

.slipRow ul .slipFloat {
  float: left;
  width: 100px;
}
.slipRow p {
  padding-left: 20px;
  line-height: 1.5em;
}
.slipRow .slipRowSection {
  font-weight: bold;
}
.slipRow .slipRowReceipt p,
.slipRow .slipRowRules p {
  padding: 6px;
  line-height: 1.2em;
}

.slipRow .slipRowReceipt ul {
  list-style: square;
  margin: 8px 0 10px 0;
}
.slipRow .slipRowReceipt ul li {
  padding-left: 0px;
  margin-left: 20px;
}
#slip.slipPool .slipRow {
  padding-left: 8px;
}
.singleBet.multiple .slipRow {
  padding-bottom: 8px;
}
.receipt .singleBet .slipRow p {
  padding-left: 3px;
  margin-left: 0;
}
.slipTip {
  width: 150px;
  height: 30px;
  position: absolute;
  margin: -60px 0 0 85px;
  padding: 5px;
  border: 1px solid #000;
  /*display: none;*/
}
.slipTip ul {
  line-height: 8px;
}
#contentA .slipFooter.wide {
  background: none;
  padding: 0;
}

#contentC {
  font-size: 0.8em;
}
.slipReceiptBox .slipFooter .slipLeft,
#slip.receipt #totalCost .slipLeft {
  text-align: left;
}

.slip3DS {
  border: 5px solid  #08355f;
  padding: 6px 6px 0 6px;
  margin-top: 0px;
}
.slip3DS .slipSelection {
  border: 1px solid #013855;
}
.quickDeposit .msg {
  padding: 5px 0 7px 0;
  color: #FFF;
  text-align: center;
  margin-right: 4px;
}
.quickDeposit .msg_reverse {
  padding: 5px 0 3px 0;
  text-align: center;
  margin-right: 4px;
}
.quickDeposit .slipLeft {
  float: left;
  padding: 3px 0 3px 6px;
  text-align: left;
  margin: 0;
}
.quickDeposit .slipRight {
  width: 90px;
  float: left;
  padding: 3px 0 3px 0px;
  text-align: left;
  margin: 0;
}
.quickDeposit .deposit {
  padding: 5px 0;
  margin: 4px;
}
.quickDeposit .deposit .slipRow {
  padding-left: 10px;
}
.csv {
  width: 50px;
}
.deposit .slipRow {
  padding-top: 5px;
}
.deposit .slipLabel {
  float: left;
  width: 140px;
  padding: 4px 0 0 0px;
}

.slipName {
  padding: 4px 0 3px 0;
}

body.langCN .slipName,
body.langZH .slipName {
  font-weight: normal;
  font-size: 1.1em;
}
body.langCN .slipName strong,
body.langZH .slipName strong {
  font-weight: normal;
  font-size: 1.1em;
}
.slipSelection label {
}
.slipSelection.checkBet {
  padding: 3px 0 5px 6px;
  margin-bottom: 4px;
}
body.langCN .slipSelection,
body.langZH .slipSelection {
  font-weight: normal;
  font-size: 1.1em;
}
#slip.slipPool .slipSelection {
  padding-left: 8px;
}

#slip .slipSelection .remove {
  @include border-radius(4px);
  background: lighten($inputError, 10);
  position: absolute;
  top: 16px;
  right: 16px;
  overflow: hidden;
  height: 16px;
  font-size:0; // hide default 'X'
  a {
    color: #ffffff;
    &:before {
      height: px_to_em(16, 12);
      width: px_to_em(16, 12);
      line-height: px_to_em(16, 12);
      font-size: 12px;
      content: '×'; // this changes default 'X' to '×'
      display: block;
      text-align: center;
    }
  }
}


#slip #totalCost .slipRight {
  float: left;
  width: 68px;
  padding: 0 0 0 0;
}
#slipMainFooter #totalCost .totalUSD {
  background: #abddf6;
  color: #000000;
}
#slip .singleBet.singleSelected {
}
.slipSelection.open .slipSelectionLeft {
  color: #fff;
}

.multipleBet.slipOn {
  border-bottom: 1px solid #A80202;
}
.multipleBet.slipOn .slipRow {
  padding-top: 4px;
  padding-bottom: 0px;
}
.multipleBet.slipOn .slipStake {
  margin-left: 6px;
  margin-right: 6px;
}
.multipleBet .slipSelection {

}
.multipleBet .slipSelection:hover {
  cursor: pointer;
}
.multipleBet .slipSelectionRight {
  padding: 0 0 0 3px;
  width: 100px;
}
.slipSelectionLeft {
  float: left;
}
.slipSelectionRight {
  float: right;
}

.slipSelectionRight span {
  display: block;
  float: left;
  padding-top: 1px;
}

.slipSP {
  width: 96px;
  float: left;
  padding: 3px 0 5px 0;
  text-align: right;
}
.slipEW {
  @include border-box-sizing;
  float: right;
  line-height: px_to_em(22, 12);
  width: 12.2em;
  padding-left: 1em;
  .checkbox {
    padding: 0;
    margin: 0 px_to_em(5, 12) 0 0;
    vertical-align: text-top;
  }
}
.quickDeposit .slipEW {
  float: left;
  width: 155px;
  padding: 4px 0 0 0px;
}
.quickDeposit #slipRows2 {
  margin-top: 3px;
  padding-top: 5px;
}
.slipFooter {
  margin: px_to_em(8, 12) 0 0;
  .slipRight, .slipLeft {
    display: inline-block;
  }
}
#slip.slipPool .slipFooter {
  margin: 5px 5px 0 158px;
}
.multipleBet .slipFooter {
  margin-bottom: px_to_em(10, 12);
}
.slipFooter .singleSelected .slipFooter {
  border-top: 1px solid #8bc8e4;
}
.slipCasts {
  width: 100%;
  margin-bottom: 5px;
}
.slipCasts a {
  border: 1px solid transparent;
  padding: 1px;
}
.slipCasts a:hover {
  border-color: $linkColor;
}

.slipCasts {
  a.changeOrderUp,
  a.changeOrderDown {
    padding-left: px_to_em(14, 12);
    position: relative;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: px_to_em(5, 12) solid transparent;
      border-right: px_to_em(5, 12) solid transparent;
      position: absolute;
      top: px_to_em(5, 12);
      left: px_to_em(1, 12);
    }
  }
  a.changeOrderUp:before {
    border-bottom: px_to_em(5, 12) solid $linkColor;
  }
  a.changeOrderDown:before {
    border-top: px_to_em(5, 12) solid $linkColor;
  }
  td:first-child, th:first-child {
    padding-left: 14px;
  }
}

.slipCasts tr th {
  font-weight: bold;
  padding: 7px 6px 8px 7px;
  text-align: left;
  border-bottom: 1px solid lighten($whLightBlue, 20);
}
.slipCasts td {
  border-bottom: 1px solid lighten($whLightBlue, 20);
  padding: 6px 6px 8px 7px;
}
.lastRow .slipCasts td {
  border-bottom: none;
}
.castsNo {
  width: 20px;
}
.castsName {
  width: 110px;
}
.castsUp,
.castsDown {
  width: 27px;
}
#slipMainFooter {
  padding: 0;
}
#slipMainFooter .slipRowCheck {
  padding: 8px;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  border: 1px solid #002131;
}
#slip.receipt #slipMainFooter {
  margin-top: 0px;
}
#slipMainFooter.error {
  border: none;
  border-top: 3px solid red;
  margin-top: 4px;
  width: 100%;
  color: #000;
}
#slipMainFooter.errorStake #totalCost {
  border: 1px solid #a80202;
}
#slipMainFooter.error #totalCost .slipRight {
  float: right;
  text-align: center;
  border: 1px solid #a80202;
  margin-top: -1px;
}
#slipMainFooter #totalCost .slipLeft,
#slipMainFooter #totalCost .slipRight {
  padding: 0;
}
#slipMainFooter .slipLeft {
  float: left;
  padding: 6px 0 3px 0;
}
#slipMainFooter .slipRow .slipRight {
  float: right;
  padding: 6px 6px 0 0;
}
#slipMainFooter .slipRow span {
  /*--FREE BET HIGHLIGHT --*/

  border: 1px solid #0174ec;
  display: block;
  float: left;
  padding: 0px 3px;
  margin: -1px 3px 0 0;
}
#slip #slipMainFooter select {
  font-size: 0.8em;
  margin-bottom: 5px;
}
#slip #slipMainFooter #slipFreeBets {
  background: #abddf6;
  margin-top: -2px;
  padding: 3px 0 4px 4px;
}
#slip #slipMainFooter #slipFreeBets .slipRow {
  background: none;
}
#slip #slipMainFooter.error #slipFreeBets {
}
#slip #slipMainFooter #slipFreeBets select {
  margin-top: 2px;
}
#slip.slipPool #slipMainFooter .slipRow {
  border: 1px solid #09324a;
  margin-top: -5px;
  padding: 5px 0 0 0;
}
#slipMainFooter .slipSelection {
  color: #ffffff;
}
.quickDeposit {
  padding: 0;
  margin-top: 0px;
}

.slipBtnCenter {
  padding: 2px 20pt 7px;
}
.slipBtnCenter input {
  width: 210px;
}
.slipCalculator {
  margin: 10px 0;
}
.reqField,
fieldset .reqField {
  display: inline;
  float: none;
  color: red;
}

/*----------------TOTE SLIPS-------------------*/
.slipPool.tote h3 {
  border-bottom: 1px dotted #5ed1fd;
  padding-left: 12px;
  padding-bottom: 8px;
}
.slipPool.tote.checkBet h3 {
  border-bottom: none;
}
.slipPool.tote.checkBet.error h3 {
  border-bottom: 1px dotted #ff0000;
}
.slipPool.tote p.message {
  border-bottom: 1px dotted #5ed1fd;
  padding: 6px 0 11px 12px;
  margin-bottom: 4px;
  font-size: 1.2em;
}
.slipPool.tote.error p.message {
  border-bottom: 1px dotted #ff0000;
}
.slipPool.tote p.slipSupText a {
  padding-right: 1px;
}
body #contentHolder #contentA .slipPool.tote {
  width: 876px;
  margin-top: 0!important;
}
.slipPool.tote#slip #totalCost {
  margin-top: 0;
}
.slipPool.tote#slip #totalCost .slipLeft {
  font-size: 1em;
  font-weight: normal;
  padding-top: 2px;
  padding-left: 2px;
  width: 60%;
}
.slipPool.tote#slip #totalCost .slipRight {
  width: 297px;
  float: right;
  text-align: left;
  padding-right: 20px;
  font-size: 1.4em;
}
.slipPool.tote#slip #totalCost .slipRight.alignRight {
  width: 207px;
  padding-left: 90px;
}
.slipPool.tote#slip .slipBtnLeft {
  padding-left: 7px;
  text-align: left;
  width: 710px;
}
.slipPool.tote#slip .slipBtnLeft.link a {
  width: 150px;
  margin-top: -1px;
  text-align: right;
  font-size: 1em;
}
.slipPool.tote#slip .slipBtnLeft .disclaimer {
  width: 565px;
  float: left;
}
.slipPool.tote#slip .slipBtnLeft .disclaimer a {
  display: inline;
  font-size: 1em;
}
.slipPool.tote#slip .slipBtnLeft .linkPos {
  float: left;
  text-align: right;
  width: 140px;
}
.slipPool.tote#slip .slipBtnRight {
  margin-right: 4px;
  margin-bottom: 6px;
}
.quickDeposit#slip {
  border-color: #0a82be;
}
.slipToteStakes {
  overflow: auto;
}
.slipToteStakes ul {
  margin-bottom: 3px;
  overflow: auto;
  float: right;
  width: 100%;
  font-size: 1.2em;
}
.slipToteStakes ul.right {
  float: right;
}
.slipToteStakes ul.borderDivide {
  border-top: 1px solid #85cce8;
  padding-top: 3px;
}
.slipToteStakes ul li {
  display: block;
  float: left;
  clear: none;
}
.slipToteStakes ul li.colClear {
  width: 186px;
  padding: 7px 0 0 10px;
}
.slipToteStakes ul li.col1 {
  padding: 7px 0 0 0;
  width: 450px;
  text-align: right;
}
.slipToteStakes ul li.col3 {
  width: 108px;
  padding: 7px 0 0 8px;
  text-align: left;
}
.slipToteStakes ul li.col3 span {
  font-size: 11px;
}
.slipToteStakes ul li.col4 {
  padding: 7px 0 0 0;
  width: 646px;
  text-align: right;
}
.slipToteStakes ul li.col6 {
  padding: 7px 0 0 8px;
  width: 100px;
  text-align: left;
  font-size: 11px;
}
.disabled {
  color: #edf7f9;
  cursor: default;
}
.disabled a:link,
.disabled a:visited {
  color: #edf7f9;
}
#calculate a:link,
#calculate a:visited {
  color: #000000;
}
#calculate.disabled {
  color: #edf7f9;
}
#calculate.disabled a:link,
#calculate.disabled a:visited {
  color: #edf7f9;
}
input.disabled {
  border: 1px solid #edf7f9;
  padding: 2px 3px;
}


/* Crunched 'layout.css' created 20/03/2013 10:46:02 */
/* Adding crunched file 'html/css/coreLayout.css' */
/* CSS Document */
/*
  $Id: coreLayout.css,v 1.151 2013/01/29 13:14:06 melliott Exp $
  Copyright (c) 2008 Orbis Technology Ltd. All rights reserved.

  CoreLayout CSS
*/
.hide a {
  color: #fff;
  background: red;
}
/** TODO UNCOMMENT THIS **/
.displayNone {
  display: none !important;
  color: #000;
  background: none;
}
.displayBlock {
  display: block;
}
.clearBoth {
  clear: both;
  line-height: 0;
  font-size: 0;
}
.clearBothBlock {
  display: block;
  clear: both;
}
.displayInlineBlock {
  display: inline-block;
  /*display: -moz-inline-box;*/

}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/*------------------------------------------SERVICES LINKS------------------------------------*/
#servicesLinks {
  font-size: 1.1em;
  margin: 0;
  text-align: center;
}
#servicesLinks ul {
  padding-left: 0px;
  list-style: none;
  color: #000;
  font-size: 1.2em;
  margin: 10px 0px 12px 0;
}
#servicesLinks li {
  padding: 0 0 0 0px;
  display: inline;
}
#servicesLinks li .noBorder {
  border: none;
}
#servicesLinks a {
  text-decoration: underline;
  color: #000;
}
#servicesLinks a:hover {
  text-decoration: none;
}

/*------------------------------------------Overlay------------------------------------*/
#overlayShadeDiv {
  display: none;
  z-index: 100499;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  opacity: 0.75;
  filter: alpha(opacity=75);
  -moz-opacity: .75;
  -khtml-opacity: 0.75;
  background-color: #222222;
}

#slip.slipPool #slipMainFooter .slipRow {
  border: 1px solid #09324a;
  margin-top: -5px;
  padding: 5px 0 0 0;
}
#slipMainFooter .slipSelection {
  color: #ffffff;
}

.quickDeposit,
.slipBtnCenter {
  padding: px_to_em(16, 12);
}
.slipBtnCenter input {
  width: 210px;
}
.slipCalculator {
  margin: 10px 0;
}
.reqField,
fieldset .reqField {
  display: inline;
  float: none;
  color: red;
}

/*----------------------GIGYA--------------------------*/
.slipRow #gigyaShareIcons {
  text-align: right;
  cursor: pointer;
  cursor: hand;
}
.slipRow #gigyaShareIcons img {
  margin-right: 5px;
  cursor: pointer;
  cursor: hand;
}
/*--------------------COMMUNITY------------------------*/
.slipRow #tipIt {
  float: right;
  padding-right: 5px;
}

.cashout_acc a.cashout_accControlsHide,
.cashout_acc a.cashout_accControlsShow {
  float: right;
  padding-right: 12px;
  text-decoration: none;
}
.cashout_acc a.cashout_accControlsHide {
  background: transparent url(../img/ob/arrow_hide.gif) no-repeat right center;
}
.cashout_acc a.cashout_accControlsShow {
  background: transparent url(../img/ob/arrow_show.gif) no-repeat right center;
}
.cashout_open p.cashout_stakeReturns,
.cashout_open p.cashout_details,
.cashout_open p.cashout_link,
.cashout_noCash p.cashout_stakeReturns,
.cashout_noCash p.cashout_details,
.cashout_noCash p.cashout_link,
.cashout_open p.cashout_stakeReturns,
.cashout_cashed p.cashout_details,
.cashout_cashed p.cashout_link,
.cashout_acc p.cashout_stakeReturns,
.cashout_acc p.cashout_details,
.cashout_acc p.cashout_link {
  overflow: auto;
  margin: 5px 0px;
}


.cashout_acc p.cashout_accTitle {
  margin-bottom: 10px;
}

#slipPerks .perks_intro {
  padding: px_to_em(16, 12);
  border-bottom: 1px solid lighten($dividingLine, 20);
}
#slipPerks .perks_row {
  border-bottom: 1px solid #5f6569;
  padding: 10px 9px 10px 10px;
}
#slipPerks .perks_row .perks_row_icon {
  float: left;
  margin-right: 7px;
}
#slipPerks .perks_row .perks_row_link {
  float: right;
  display: block;
  width: 75px;
  height: 17px;
  background: transparent url(../img/ob/cashIn_btn.gif) no-repeat;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  line-height: 17px;
  color: #fff;
  margin-top: 3px;
}
#openBets_header a {
  float: right;
  line-height: 17px;
  margin-top: 4px;
  text-decoration: none;
}
#openBets_header a:hover {
  text-decoration: underline;
}
#cashout_refresh {
  background: url(../img/ob/headerSprite.gif) no-repeat scroll 29px transparent;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 25px;
}
.eachwayhighlight {
  background: #FFFF00;
}
.slipWarningIcon {
  float: left;
  display: inline;
  width: 32px;
  height: 32px;
}
#balanceModal {
  width: 304px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}
#balBetModal {
  margin: 2px;
  border: 1px solid #139ecf;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #FFF;
}
#balBetHighlight {
  border: 5px solid #139ecf;
}
#balBetGreenWrapper {
  text-align: left;
  background-color: #e6f1cf;
}
#balBetGreenWrapper .balBetGreenText {
  font-size: 12px;
  line-height: 18px;
}
#balBetGreenWrapper .balBetGreenSelection {
  font-weight: normal;
  font-size: 11px;
  line-height: 18px;
}
#balBetGreenInner,
#balBetBlueInner {
  padding: 10px;
}
#balBetBlueWrapper {
  text-align: left;
  color: #fff;
  overflow: hidden;
}
#balBetBlueWrapper .balBetBlueText {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}
#balBetBlueWrapper .balBetBlueSelection {
  color: #f6d500;
  font-weight: normal;
  font-size: 11px;
  line-height: 18px;
}
#balBetBlueWrapper .balBetBlueReturns {
  font-size: 11px;
  line-height: 30px;
}
#balBetTimerWrapper {
  height: 40px;
  margin: 15px 10px 0 10px;
}
#balBetTimerWrapper .balBetTimerIcon {
  width: 37px;
  height: 37px;
  display: block;
  float: left;
  display: inline;
}
#balBetTimerWrapper .balBetTimerText {
  height: 37px;
  font-weight: bold;
  float: left;
  display: inline;
  margin: 1px 0px 0px 8px;
  width: 195px;
}
#balBetTimerWrapper .balBetTimerText span {
  font-size: 12px;
  line-height: 18px;
}
/* Balanced Bet Price */
#balBetPriceWrapper {
  height: 20px;
  margin-bottom: 5px;
}
#balBetPriceWrapper .balBBBetPrice {
  color: #f6d500;
}
#balBetPriceWrapper .balBetPrice,
#balBetPriceWrapper .balBBBetPrice {
  width: 230px;
  margin-right: 10px;
  float: left;
  display: inline;
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
}
#balBetPriceWrapper .balBetGreenPrice {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}
#balBetCheck {
  float: left;
  display: inline;
  width: 20px;
  height: 20px;
}
#balBetCheck .balanceBox {
  float: none;
  width: 15px;
}
#balBetEstimate {
  font-size: 10px;
  line-height: 18px;
}
/* Border styles */
.single {
  border-top: 1px solid #139ecf;
  border-bottom: 1px solid #139ecf;
  margin-top: 10px;
}
.end {
  border-bottom: none;
}
/* Over Two lines */
#balAlertWrapper {
  /* background-color:#feb6b7;*/
}
#balAlertInner {
  padding: 10px;
}
#balAlertHeading {
  height: 30px;
  background: transparent url(../img/ob/warning.png) no-repeat top left;
  padding-left: 34px;
  color: #005276;
  margin-bottom: 5px;
  display: table;
}
#balAlertHeading span {
  font-weight: bold;
  font-size: 12px;
  display: table-cell;
  vertical-align: middle;
}
#balAlertMessage,
#balAlertReturn {
  font-size: 11px;
  line-height: 13px;
  color: #005276;
}
#balBetButtons {
  margin: 20px 6px 0 6px;
  overflow: hidden;
}
#balBetButtons .clearfix {
  height: 35px !important;
}
.buttonAccept,
.buttonReject {
  display: block;
  float: left;
  width: 140px;
  height: 38px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 30px;
  padding-bottom: 8px;
}
.buttonAccept {
  color: #fff;
  text-transform: uppercase;
}
.buttonAccept:hover {
  color: #fff;
}
.buttonReject {
  color: #ccc;
  margin-right: 7px;
  color: #666;
  text-transform: uppercase;
}
.buttonReject:hover {
}
*:first-child + html .buttonAccept[type],
*:first-child + html .buttonReject[type] {
  padding-bottom: 3px;
  /* IE7 */

}
#balBetTotalStake {
  color: #FFFFFF;
  font-weight: bold;
  height: 25px;
  padding: 5px;
  margin: 10px 5px;
}
#balBetTotalStake span {
  color: #fff;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 27px;
  padding-left: 10px;
}

/*-------------------------------------PAGE STRUCTURE-------------------------------------*/
#contentB hr {
  display: none !important;
  visibility: hidden;
}






/** Start of new Stuff **/

.inputStyle {
  width: px_to_em(70, 12);
  float: left;
  border: 1px solid;
  border: 1px solid;
  color: $inputColor;
  border: 1px solid $inputBorder;
  background-color: $inputBackground;
}

#slipNavigation {
  background-color: none;
  float: none;
  overflow: auto;
  text-align: center;
  ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    li {
      display: table-cell;
      padding: px_to_em(8, 12) 0;
      text-align: center;
      vertical-align: inherit;
      border-bottom: px_to_em(3, 12) solid transparent;

      &.active {
        border-bottom: px_to_em(3, 12) solid $whLightBlue;
      }

      a {
        text-align: center;
        vertical-align: middle;
        display: block;
        font-weight: bold;
        text-decoration: none;
        white-space: nowrap;
        padding: px_to_em(2, 12) 0;
        line-height:1;
      }
    }
  }
}

#slip {

  .slipStake {
    label {
      float: right;
      display: none;
    }

    input {
      @extend .inputStyle;
    }
  }
}

#betslipwrapper {
  clear: both;
  position: relative;
}

.slipTitle {
  border-bottom: 1px solid lighten($dividingLine, 20);
}

.bet {
  position: relative;
  color: #000;
  padding: px_to_em(16, 12) px_to_em(48, 12);
  border-bottom: 1px solid lighten($dividingLine, 20);
}

.heading {
  color: $white;
  background: $whDarkBlue;

}

.slipRow {
  @extend .clearfix;
  padding: px_to_em(5, 12) 0 0;
  .slipLeft {
    float: left;
    clear: both;
    padding-bottom: 5px;
  }
  .slipRight {
    float: left;
    padding-bottom: 5px;
  }
}

.slipSelection {
  @extend .clearfix;
  color: $darkBlueText;
  font-weight: bold;
  .checkbox {
    position: absolute;
    height: px_to_em(16,12);
    width: px_to_em(16,12);;
    left: px_to_em(16,12);;
    top: px_to_em(16,12);;
    margin: 0;
  }
}

.singleBet {
  @extend .bet;
  background-color: $whClearSuccess4;


  &.singleSelected {
    background: none;
  }

  &.slipError {
    background-color: $whClearErrorRed25;
    //@include box-shadow(3px 0px 5px -2px rgba(0, 0, 0, 0.3) inset);
  }
}

.multipleBet {
  @extend .bet;
  padding: px_to_em(10, 12) px_to_em(48, 12) 0 px_to_em(48, 12);
  .slipSelection {
    margin: 0 - px_to_em(10, 12) 0 - px_to_em(48, 12) 0 0 - px_to_em(48, 12);
    padding: px_to_em(12, 12) px_to_em(48, 12);
    background-color: $whClearSuccess4;
    @include box-shadow(0 1px 0 0 lighten($dividingLine, 20));

    .slipSelectionRight a {
      text-decoration: none;
      padding: px_to_em(1, 12) px_to_em(5, 12);
      display: block;
      position: absolute;
      left: px_to_em(16, 12);
      top: px_to_em(12, 12);
    }

    &:before {
      @extend .icon;
      @extend .icon-collapsed;
      position: absolute;
      right: px_to_em(16, 12);
      top: px_to_em(12, 12);
    }

    &.slipOn {
      @extend .icon-expanded;
    }
  }
  .slipCasts {
    margin-top: - px_to_em(10, 12);
    margin-left: - px_to_em(48, 12);
    width: px_to_em(330, 12);
  }
}

.slipReceiptBox {
  .multipleBet, .singleBet {
    padding: px_to_em(16, 12);
  }

  > .slipRow {
    @extend .alert;
    @extend .alert-success;
    margin: px_to_em(8, 12) px_to_em(16, 12);
  }
  .slipSelection.transaction {
    padding: px_to_em(8, 12) px_to_em(16, 12) 0;
  }
}


#slipMultipleHeader {
  margin-top: px_to_em(12, 18);
}


#slipRowRules {
  @extend .alert;
  @extend .alert-warning;
  margin-bottom: px_to_em(16, 12);
}


#slipMainFooter {
  padding: px_to_em(16, 12);

  #slipRowFreebetsHeader  {
    @extend .alert;
    @extend .alert-info;
    margin-bottom: px_to_em(10, 12);
  }
}

#totalCost {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: px_to_em(16, 18);
}

.linkable {
  font-weight: bold;
  color: $whLightBlue;
  cursor: pointer;

  &:hover {

  }
}

#slipBtns {
  margin: 0 0 - px_to_em(4, 12);
}

.slipBtns {
  display: table;
  table-layout: fixed;
  width: 100%;

  // Trying to kind of future proof against class names as there is no common class name between children of .slipBtns
  > div {
    display: table-cell;
    padding: 0 px_to_em(4, 12);
  }

  .slipBtnLeft {
    .linkable {
      display: block;
      width: 100%;
      margin: 0;
    }
  }

  .slipBtnRight {
    input {
      line-height: 1em !important;
      @extend .button-mint-green;
      width: 100%;
      margin: 0;
    }
  }
}

// Messages & prompts



// Errors
.slipErrorRow {
  color: red;
}
.slipError a {
  color: #000;
}
.slipError .checkbox {
  border: none;
}

.slipMsgBox {
  border: 4px solid #08355f;
  padding-bottom: 6px;
}
.slipMsgBox p {
  margin-bottom: 6px;
  background: red;
}

.slipErrorBox .slipLeft {
  width: 150px;
  float: left;
  padding: 0;
}
.slipErrorBox .slipRight {
  padding-right: 6px;
  float: right;
}
.errorMsg {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #a80202;
  margin-bottom: 3px;
}
.errorDetails {
  border-top: 1px dotted red;
  margin-bottom: 5px;
  padding-top: 5px;
}

#slip.slipPool .singleBet {
}

#slipTimeLeft {
  font-size: 1.75em;
  font-weight: bold;
}

#slipError2 {
  margin-bottom: px_to_em(8, 12);
}

#slipError, #slipEmpty, #slipLoading {
  padding: px_to_em(16, 12);
}

.slipErrorBox, #slipEmpty .slipSelection {
  @extend .alert;
  @extend .alert-danger;
  @extend .clearfix;
}

#slipLoading .slipSelection, .slipRowReceipt {
  @extend .alert;
  @extend .alert-warning;
}

.slipRowReceipt {
  margin-bottom: px_to_em(8, 12);
}

.slipErrorBox {
  padding-right: px_to_em(32, 12);
  position: relative;

  .slipErrorClose {
    @extend .icon;
    @extend .icon-x;
    font-size: 10px;
    color: $state-danger-text;
    position: absolute;
    right: px_to_em(10, 10);
    top: px_to_em(10, 10);

    img {
      display: none;
    }
  }
}


//Bet Delay
.betDelay {
  @extend .alert;
  @extend .alert-info;
  margin: px_to_em(16, 12);
  text-align: center;

  .slipSelection {
    //color: $white;
  }

  img {
    display: none;
  }

  .slipRow.textCenter {
    margin: 2em auto;
    position: relative;
    border-top: 0.6em solid rgba(255, 255, 255, 0.2);
    border-right: 0.6em solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.6em solid rgba(255, 255, 255, 0.2);
    border-left: 0.6em solid #fff;
    -webkit-animation: load 1.1s infinite linear;
    -moz-animation: load 1.1s infinite linear;
    -ms-animation: load 1.1s infinite linear;
    -o-animation: load 1.1s infinite linear;
    animation: load 1.1s infinite linear;
  }

  .slipRow.textCenter,
  .slipRow.textCenter:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
  }
}

@include keyframes(load) {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.slipStake {
  width: px_to_em(70, 12);
  float: left;
  text-align: left;
  margin: 0;
}

#slipMainFooter {
  #slipError {
    padding: $alert-padding;
    margin-bottom: px_to_em(8, 12);
  }
}

// Some elements need to be hidden regardless
#servicesLinks {
  display: none !important;
}

// Betslip specific
#betSlip .slipTitle_details {
  color: #024061;
  font: 11px Arial;
  font-weight: bold;

  img {
    display: none !important;
  }

  &:before {
    @extend .icon;
    @extend .icon-expanded;
  }

}

.slipBestOdds {
  padding: 2px 0px;
  font-weight: bold;
}

/* Styles for Bet Slip Arrows */
.eventpriceupslip {
  background: url("../../img/live-arrow-up.gif") no-repeat scroll right 2px transparent;
  font-weight: bold;
  padding-right: 12px;
  zoom: 1;

}
.eventpricedownslip {
  background: url("../../img/live-arrow-down.gif") no-repeat scroll right 2px transparent;
  font-weight: bold;
  padding-right: 12px;
  zoom: 1;
}

/**
 * Open Bets
 */
#openBets_header {
  display: none;
}

// Caution, this is hacky because the markup is utter shite.
#slipopenBets > [class*="cashout_"] {
  @extend .bet;
  padding: px_to_em(16, 12);

  > p {
    font-weight: bold;
  }

  .cashout_details {

    .cashout_col3 {
      text-align: right;
      min-width: px_to_em(105, 12);
    }

    .Score, .Time {
      @extend .badge;
      width: px_to_em(48, 12);
      padding-left: 0;
      padding-right: 0;
      margin-left: px_to_em(2, 12);
      margin-bottom: px_to_em(2, 12);
    }
  }
}

#slipopenBets .cashout_cashed,
#slipopenBets .cashout_open,
#slipopenBets .cashout_noCash {
  border-bottom: none;
  &:nth-child(even) {
    background: #e9e9e9;
  }
}

.cashout_footer {
  @extend .clearfix;
  margin: px_to_em(4, 12)  0 - px_to_em(16, 12) 0 - px_to_em(16, 12) 0 - px_to_em(16, 12);
  padding: px_to_em(16, 12);
  background-color: $whDarkBlue;
  position: relative;

  .cashOut, .disablecashOut {
    @extend .button-mint-green;
    @extend .-small;
    float: left;
  }

  .disablecashOut {
    opacity: 0.3;
    cursor: default;
  }

  .cashoutWrapper {
    color: $white;
    text-align: right;
    line-height: px_to_em(22, 12);
    padding-right: px_to_em(32, 12);

    .containsTooltip {
      position: relative;
      top: px_to_em(4, 12);
      right: 0 - px_to_em(20, 12);
      float: right;

      .cashoutInfoIcon {
        @extend .icon;
        @extend .icon-help;
        color: $white;
      }
    }
    .cashoutValue {
      .cashout_even {
        font-weight: bold;
      }
    }
  }
}

.cashout_hiddenData {
  margin: 0 0 - px_to_em(2, 12);

  .cashout_details {
    display: table;
    width: 100%;

    span {
      padding: px_to_em(2, 12);
      display: table-cell;
    }
  }

  .cashout_link {
    padding: px_to_em(2, 12) px_to_em(2, 12) px_to_em(8, 12);
    margin-bottom: px_to_em(8, 12);
    border-bottom: 1px solid lighten($dividingLine, 20);
  }
}

.cashout_cashing {
  font-weight: bold;
  text-align: center;

  span {

    &:after {
      background: url("../../img/loading_large.gif") no-repeat scroll center center transparent;
      content: '';
      display: block;
      height: px_to_em(32, 12);
      width: px_to_em(32, 12);
      margin: px_to_em(16, 12) auto 0;
    }
  }
}

.cashout_cashed {
  background-color: $whClearSuccess4;
}

.cashout_noCash {
  border-bottom: 1px solid lighten($dividingLine, 20);
}


#slipopenBets > .cashout_accept {
  padding: 0;

  .slipEmpty {

    p {
      margin-bottom: px_to_em(8, 12);
    }

    // Shitty hacky css for shitty hacky code
    > p:first-child {
      @extend .alert;
      @extend .alert-warning;
      margin-bottom: px_to_em(16, 12);
    }

    > div {
      margin-bottom: px_to_em(8, 12);
    }
  }

  .cashOutAccept {
    @extend .button-mint-green;
    //@extend .-small;
    width: 100%;
  }
}

.cashout_bad {
  color: $state-danger-text;
}
.cashout_profit {
  color: $gold;
  font-size: 120%;
}
.cashout_good {
  color: $state-success-text;
}
.cashout_left {
  float: left;
}
.cashout_right {
  float: right;
}

#cashout_btn {
  @extend .button-mint-green;
  @extend .-small;
}


// Openbets footer
#openBets_footer {
  @extend .clearfix;
  padding: px_to_em(16, 12);

  #cashout_more {
    @extend .button-mint-green;
    width: 100%
  }
}


// Quick Deposit
/*--------------------Payment Redesign------------------------*/
.qdb_content p { margin: 0; padding: 0; }
.qdb_instruction {
  background: $whLightGrey;
  font-weight: bold;
  padding: px_to_em(8, 12) px_to_em(4, 12);
  margin: px_to_em(8, 12) 0;
}
.qdb_header {
  border-bottom: 1px solid lighten($dividingLine, 20);
  color: $lightText;
  font-weight: bold;
  margin-bottom: px_to_em(8, 12);
  padding-bottom: px_to_em(8, 12);
}
.qdb_textLine {
  padding: px_to_em(4, 12) 0;
  position: relative;
}
.qdb_header .qdb_extra,
.qdb_textLine .qdb_extra {
  position: absolute;
  right: 0px;
}
.qdb_good, .qdb_bad {
  font-weight: bold;
  color: $state-success-text;
}
.qdb_bad {
  color: $state-danger-text;
}

.qdb_content label {
  float: left;
  color: #005580;
}

.qdb_content {
  input {
    @extend .inputStyle;
  }
}

.qdb_btn, .qdb_btn_disabled {
  @extend .button-mint-green;
  margin-top: px_to_em(8, 12);
  width: 100%;
  color: $white;
}
.qdb_btn_disabled {
  opacity: 0.3;
  cursor: default;
}
#qdb_header {
  @extend .alert;
  @extend .alert-danger;
  @extend .clearfix;
  margin-bottom: px_to_em(8, 12);
}
#qdb_header .qdb_amendLink {
  float: right;
  font-size: 10px;
  color: #1188c0;
}
#qdb_header.qdb_error .qdb_icon {
  display: none;
}
#qdb_container form .jqTransformHidden {
  display: none;
}
#qdb_container form .smallInput input,
#qdb_container form .smallInput_disabled input {
  width: 91px;
  position: relative;
  z-index: 2;
}


div.tooltipGroup {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  margin: px_to_em(2, 12) 0 px_to_em(6, 12);
}
div.tooltipGroup .hint.error {
  color: #4a030b;
}
#qdb_container div.tooltipGroup .hint {
  display: block;
  left: 2px;
  bottom: -1px;
  overflow: hidden;
  position: absolute;
  vertical-align: middle;
  height: auto;
  min-height: 21px;
  max-height: 43px;
  width: 182px;
  padding-bottom: 1px;
  z-index: 1;
}
#qdb_container div.tooltipGroup .hint.m {
  width: 260px;
  padding-left: 96px;
}
#qdb_container div.tooltipGroup .hint.m p {
  width: 284px;
}
#qdb_container div.tooltipGroup .hint.l {
  width: 322px;
}
#qdb_container div.tooltipGroup .hint.l p {
  width: 316px;
}
#qdb_container div.tooltipGroup .hint.xl {
  width: 182px;
  padding-left: 97px;
}
#qdb_container div.tooltipGroup .hint.xl p {
  width: 176px;
}
#qdb_container div.tooltipGroup .hint.xl p label {
  color: #000;
}
#qdb_container div.tooltipGroup .hint.s {
  width: 365px;
  padding-left: 142px;
}
#qdb_container div.tooltipGroup .hint.s p {
  width: 358px;
}
#qdb_container div.tooltipGroup .hint.info {
  background: url(../img/ob/hintInfo_btm.gif) no-repeat right bottom;
}
#qdb_container div.tooltipGroup .hint.info p {
  background: url(../img/ob/hintInfo_top_large.gif) no-repeat left top;
  /*
  height: 14px;
  width: 14px;
  padding: 0;
  margin: 4px 0 0 4px;
  */
}
#qdb_container div.tooltipGroup .hint.suggest {
  background: url(../img/ob/hintSuggest_btm.gif) no-repeat right bottom;
}
#qdb_container div.tooltipGroup .hint.suggest p {
  background: url(../img/ob/hintSuggest_top.gif) no-repeat left top;
}
#qdb_container div.tooltipGroup .hint.error {
  background: url(../img/ob/hintError_btm.gif) no-repeat right bottom;
}
#qdb_container div.tooltipGroup .hint.error p {
  background: url(../img/ob/hintError_top.gif) no-repeat left top;
}
#qdb_container div.tooltipGroup .hint p {
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
  vertical-align: middle;
  padding: 4px 2px 3px 4px;
  line-height: 12px;
  width: 176px;
  min-height: 14px;
}
/**   Hints & Errors  **/
#qdb_container .rightClmn div.tooltipGroup .hint,
#qdb_container div.tooltipGroup .hint {
  padding-left: 97px;
}
#qdb_container .leftClmn div.tooltipGroup .hint {
  padding-left: 197px;
}
/***********************/
.qdb_ccv_help {
  float: left;
  position: relative;
  padding: px_to_em(5, 12) px_to_em(10, 12);
}
.qdb_ccv_help img {
  margin: 3px 0 0 3px;
}
#qdb_ccv_helpTxt {
  display: none;
  position: absolute;
  border: 1px solid #063654;
  background-color: #175c88;
  color: #fff;
  width: 150px;
  padding: 5px;
  top: -7px;
  right: 0px;
}
.qdb_content #form_topup #cvv2_msg.hint.success {
  width: 20px;
}
/* Styles for Bet Slip Arrows */
.eventpriceupslip {
  background: url("../../img/live-arrow-up.gif") no-repeat right 1px transparent;
  font-weight: bold;
  padding-right: 12px;
  zoom: 1;
}
.eventpricedownslip {
  background: url("../../img/live-arrow-down.gif") no-repeat right 2px transparent;
  font-weight: bold;
  padding-right: 12px;
  zoom: 1;
}
.cashout_footer .containsTooltip span.outerTT {
  bottom: 0;
  color: #ffffff;
  font-weight: normal;
  line-height: 14px;
  padding: 0 !important;
  position: absolute;
  right: 0;
  text-decoration: none;
  width: 160px;
  z-index: 9000;
  display: none;
}
.cashout_footer .containsTooltip:hover {
  //position: relative;
  cursor: pointer;
}
.cashout_footer .containsTooltip:hover span.outerTT {
  display: block;
}
.cashout_footer .containsTooltip span.outerTT span.innerTT {
  @extend .alert;
  @extend .alert-status;
  float: right;
  font-size: 11px;
  position: relative;
  bottom: px_to_em(20, 11);
  cursor: default;
}

// target the first cashout bet immediately after the header to position it
// below the help link instead of above, due to lack of space between header 
// and first help link
#openBets_header + .cashout_open {
  .outerTT {
    top: 0;
    bottom: auto;
  }
  .innerTT {
    top: px_to_em(20, 11);
    bottom: auto;
  }
}

#whatIsThisURL {
  @extend .icon;
  @extend .icon-help;
  img {
    display: none;
  }
}