.button {
  @include button(px_to_em(5));
  background-color: $button-blue-dark-bg-color;
  font-size: $headerFontSmall+px;
  display: inline-block;

  &:hover{
    color: $button-text-color;
  }

  // Sizes
  &.-small {
    @include border-radius(px_to_em(3));
    padding: px_to_em(4, 12) px_to_em(16, 12);
    height: px_to_em(24, 12);
  }

  &.-link {
    background-color: $button-green-bg-color;
    color: $button-text-color;
    @include border-radius(px_to_em(3));

    &:hover {
      background-color: $button-green-hover-bg-color;
      color:$button-text-color;
    }
  }

  // TODO[cm] Double check and remove this. I think this is not used anymore (old market templates).
  /*&.-bet {
    // n.b. for these buttons there will be style changes in the _markets.scss module
    // as there will be subtle changes based on market template...

    background-color: $odds-button-bg-color;

    margin: 0;
    outline: 0;
    padding: $baseGutter;
    position: relative;

    // states - active, hover, error, etc...
    &:hover {
      background-color: $odds-button-hover-bg-color;
    }

    &.-selected {
      background-color: $button-blue-bg-color;
      color: $button-text-color;
      &:hover {
        background-color: $button-blue-hover-bg-color;
      }
    }

    &.-active {
      background-color: $button-green-bg-color;
      color: $button-text-color;
      &:hover {
        background-color: $button-green-hover-bg-color;
      }
    }

    &.-error {
      background-color: $button-blue-bg-color;
      color: white;
      &:hover {
        background-color: $button-blue-hover-bg-color;
      }
    }

  }*/

  .-round,
  &.-round {
    @include border-radius(100%);

    .icon-help {
      font-size: 16px;
      position: relative;
      top: -2px;
    }
  }

  // specific styles -------------------------------------------
  .-clear,
  &.-clear {
    background-color: $transparency-white-lightest-color;
    color: $mercury;
    &:hover {
      background-color: $transparency-white-lighter-color;
      color: $mercury;
    }
  }

  // TODO[cm] Double check and remove this. I think this is not used anymore (old market templates).
  /*.-form,
  &.-form {
    background-color: $button-blue-bg-color;
    &:hover { background-color: $button-blue-hover-bg-color; }
  }*/

  // Specific -----------------------------------------------------

  .-product,
  &.-product {
    // margin: 0 px_to_em(4, 12) px_to_em(8, 12);
    // padding: px_to_em(8, 12);
    
    background-color: transparent;
    border: 0;
    font-weight: normal;
    height: px_to_em(32, 12);
    margin: 0 0 px_to_em(8, 12) 0;
    padding: 0;
    text-align: left;
    width: 32.333%;

    &:last-of-type {
      margin-bottom: px_to_em(16,12);
    }

    &.-active {
      color: $button-blue-bg-color !important;
      background-color: transparent;
    }
  }
}

.button-clear {
  @extend .button;
  background-color: $transparency-white-lighter-color;
  position: relative;

  &:hover {
    background-color: $transparency-white-light-color;
    color: $text-white-color;
  }
}

.button-form {
  @extend .button;
  //padding: px_to_em(4, 12);
  background-color: $button-blue-bg-color;

  &:hover {
    background-color: $button-blue-hover-bg-color;
  }
}

.button-mint-green {
  @extend .button;
  background-color: $button-green-bg-color;

  &:hover {
    background-color: $button-green-hover-bg-color;
  }
}

.button-join {
  margin-left: px_to_em(16, 12);
  @extend .button-mint-green;
}

.button-round {
  @extend .button-clear;
  @include border-radius(100%);
}

.button-ghost {
  @extend .button;
  background: none;
  color: inherit;
  padding: 0 px_to_em(8, 12);
  height: px_to_em(32, 12);
  i {
    line-height: px_to_em(32, 12);
  }
}

.button-standard {
  @extend .button;
  background-color: $odds-button-bg-color;
  color: $text-black-color;
  padding: px_to_em(4, 12) px_to_em(8, 12);

  &:hover {
    background-color: $odds-button-hover-bg-color;
    color: $text-black-color;
  }

  &.-active, &.active, &.selected {
    background-color: $odds-button-added-bg-color;
    color: $button-text-color;
  }
}

.button-secondary {
  @extend .button;
  background-color: $button-blue-bg-color;
  &:hover {
    background-color: $button-blue-hover-bg-color;
  }
}

.button-group {
  .button {
    &:first-child {
      border-bottom-right-radius: none;
      border-top-right-radius: none;
    }

    &:last-child {
      border-bottom-left-radius: none;
      border-top-left-radius: none;
    }
  }
}

.odds-format__button {
  display: block;
  padding-top: px_to_em(6, 12);
  padding-bottom: px_to_em(6, 12);
  width: 100%;
  border: none;
  background-color: transparent;
  &:last-child {
    padding-bottom: px_to_em(8, 12);
  }
  &.-active {
    color: $button-active-text-color;
  }
  &:hover {
    cursor: pointer;
  }
}