/*
  
  FLAGS
  - As the name suggests... Look here for the small flag images, mainly used in language selection

*/

i[class^="flag"] {
  background-image: inline-image("flags/flags.png");
  display: inline-block;
  float: left;
  height: 11px;
  position: relative;
  top: 2px;
  width: 16px;
}

.flag-at { background-position: -16px 0; }
.flag-ca { background-position: -32px 0; }
.flag-cn,
.flag-zh { background-position: -48px 0; }
.flag-cs { background-position: -64px 0; }
.flag-de { background-position: 0 -11px; }
.flag-es { background-position: -16px -11px; }
.flag-fi { background-position: -32px -11px; }
.flag-fr { background-position: -48px -11px; }
.flag-en { background-position: -64px -11px; }
.flag-el { background-position: 0 -22px; }
.flag-hu { background-position: -16px -22px; }
.flag-ie { background-position: -32px -22px; }
.flag-ja { background-position: -48px -22px; }
.flag-no { background-position: -64px -22px; }
.flag-pl { background-position: 0 -33px; }
.flag-pt { background-position: -16px -33px; }
.flag-ro { background-position: -32px -33px; }
.flag-sr { background-position: -48px -33px; }
.flag-ru { background-position: -64px -33px; }
.flag-sv { background-position: 0 -44px; }
.flag-sl { background-position: -16px -44px; }
.flag-tr { background-position: -32px -44px; }