.form {

}

button,
input,
optgroup,
select,
textarea {
  color: inherit; // Correct color not being inherited.
  font: inherit; // Correct font properties not being inherited.
  margin: 0; // Address margins set differently in Firefox 4+, Safari, and Chrome.
}

fieldset {
  margin-bottom: px_to_em(16, 12);
}

input[type=text],
input[type=password]{
  @include border-radius(px_to_em(3, 12));
  border: none;
  padding: px_to_em(4, 12) px_to_em(8, 12);
  font-size: $headerFontSmall+px;
  vertical-align: middle;
  height: px_to_em(24, 12);
  background-color: $input-bg-color;
  color: $text-black-color;

  &:hover {
    @include box-shadow(1px 1px 0px 0 $transparency-black-light-color inset);
  }

  &:focus {
    @include box-shadow(1px 1px 0px 0 $transparency-black-light-color inset);
  }

  &:active {
    @include box-shadow(1px 1px 0px 0 $transparency-black-light-color inset);
  }
}

.inline-inputs {
  input, button, select, textarea {
    margin-left: px_to_em(2);
    margin-right: px_to_em(2);
  }
}