/*

  ICONFONT
  - all icon fonts used by each page are list here, the icon font files
    will need embedding in the the end stylesheeet to remove 4
    unneccesary requests

*/

// @TODO: maybe this can keep the # of requests down http://compass-style.org/reference/compass/helpers/inline-data/

$whIconFontPath: '../fonts';

@font-face {
  font-family: 'whIconFont';
  src:url('#{$whIconFontPath}/whIconFont.eot?gllpmt');
  src:url('#{$whIconFontPath}/whIconFont.eot?#iefixgllpmt') format('embedded-opentype'),
  url('#{$whIconFontPath}/whIconFont.woff?gllpmt') format('woff'),
  url('#{$whIconFontPath}/whIconFont.ttf?gllpmt') format('truetype'),
  url('#{$whIconFontPath}/whIconFont.svg?gllpmt#whIconFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .icon {
  font-family: 'whIconFont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  &:before {
    font-family: 'whIconFont';
  }

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e6a6";
}
.icon-all-games:before {
  content: "\e6a5";
}
.icon-back:before {
  content: "\e6a4";
}
.icon-most-popular-bets2:before {
  content: "\e6a3";
}
.icon-filter:before {
  content: "\e6a1";
}
.icon-error:before {
  content: "\e6a2";
}
.icon-speedway_icon:before {
  content: "\e69d";
}
.icon-cycling-virtual_icon:before {
  content: "\e69e";
}
.icon-motorracing-virtual_icon:before {
  content: "\e69f";
}
.icon-speedway-virtual_icon:before {
  content: "\e6a0";
}
.icon-play_circle:before {
  content: "\e69c";
}
.icon-cash-in:before {
  content: "\e69b";
}
.icon-gaelic-football:before {
  content: "\e699";
}
.icon-all-sports:before {
  content: "\e69a";
}
.icon-feedback:before {
  content: "\e692";
}
.icon-popup:before {
  content: "\e693";
}
.icon-radio:before {
  content: "\e694";
}
.icon-mute:before {
  content: "\e695";
}
.icon-pause:before {
  content: "\e696";
}
.icon-play:before {
  content: "\e697";
}
.icon-volume:before {
  content: "\e698";
}
.icon-antepost:before {
  content: "\e690";
}
.icon-stick:before {
  content: "\e691";
}
.icon-checkboxON:before {
  content: "\e68f";
}
.icon-checkboxOFF:before {
  content: "\e68e";
}
.icon-netbuster:before {
  content: "\e68d";
}
.icon-phone:before {
  content: "\e68b";
}
.icon-chat:before {
  content: "\e68c";
}
.icon-and-over:before {
  content: "\e600";
}
.icon-account-details:before {
  content: "\e601";
}
.icon-account-nli:before {
  content: "\e602";
}
.icon-accountLI:before {
  content: "\e603";
}
.icon-american-football:before {
  content: "\e604";
}
.icon-arcade:before {
  content: "\e605";
}
.icon-archery:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-right:before {
  content: "\e608";
}
.icon-athletics:before {
  content: "\e609";
}
.icon-australian-rules:before {
  content: "\e60a";
}
.icon-badminton:before {
  content: "\e60b";
}
.icon-bandy:before {
  content: "\e60c";
}
.icon-baseball:before {
  content: "\e60d";
}
.icon-basketball:before {
  content: "\e60e";
}
.icon-beach-football:before {
  content: "\e60f";
}
.icon-beach-handball:before {
  content: "\e610";
}
.icon-beach-volleyball:before {
  content: "\e611";
}
.icon-bet-slip:before {
  content: "\e612";
}
.icon-bowling:before {
  content: "\e613";
}
.icon-bowls:before {
  content: "\e614";
}
.icon-boxing:before {
  content: "\e615";
}
.icon-calculator:before {
  content: "\e616";
}
.icon-calendar:before {
  content: "\e617";
}
.icon-canoeing:before {
  content: "\e618";
}
.icon-cards:before {
  content: "\e619";
}
.icon-click-and-buy:before {
  content: "\e61a";
}
.icon-collapsed:before {
  content: "\e61b";
}
.icon-competitions:before {
  content: "\e61c";
}
.icon-coupons:before {
  content: "\e61d";
}
.icon-cricket:before {
  content: "\e61e";
}
.icon-cvv:before {
  content: "\e61f";
}
.icon-cycling:before {
  content: "\e620";
}
.icon-darts:before {
  content: "\e621";
}
.icon-deposit:before {
  content: "\e622";
}
.icon-diving:before {
  content: "\e623";
}
.icon-double-arrow-left:before {
  content: "\e624";
}
.icon-double-arrow-right:before {
  content: "\e625";
}
.icon-edit:before {
  content: "\e626";
}
.icon-equestrian:before {
  content: "\e627";
}
.icon-expanded:before {
  content: "\e628";
}
.icon-favs:before {
  content: "\e629";
}
.icon-fencing:before {
  content: "\e62a";
}
.icon-financials:before {
  content: "\e62b";
}
.icon-fishing:before {
  content: "\e62c";
}
.icon-floorball:before {
  content: "\e62d";
}
.icon-football:before {
  content: "\e62e";
}
.icon-futsal:before {
  content: "\e62f";
}
.icon-gamble-aware:before {
  content: "\e630";
}
.icon-gamblers-anonymous:before {
  content: "\e631";
}
.icon-gambling-therapy:before {
  content: "\e632";
}
.icon-gamcare:before {
  content: "\e633";
}
.icon-gauge:before {
  content: "\e634";
}
.icon-gbga:before {
  content: "\e635";
}
.icon-golf:before {
  content: "\e636";
}
.icon-greyhounds:before {
  content: "\e637";
}
.icon-gymnastics:before {
  content: "\e638";
}
.icon-handball:before {
  content: "\e639";
}
.icon-help:before {
  content: "\e63a";
}
.icon-highlights:before {
  content: "\e63b";
}
.icon-hockey:before {
  content: "\e63c";
}
.icon-home:before {
  content: "\e63d";
}
.icon-horse-racing:before {
  content: "\e63e";
}
.icon-hurling:before {
  content: "\e63f";
}
.icon-ice-hockey:before {
  content: "\e640";
}
.icon-in-play:before {
  content: "\e641";
}
.icon-info:before {
  content: "\e642";
}
.icon-jockey:before {
  content: "\e643";
}
.icon-lacrosse:before {
  content: "\e644";
}
.icon-list:before {
  content: "\e645";
}
.icon-live-scores:before {
  content: "\e646";
}
.icon-lotteries:before {
  content: "\e647";
}
.icon-lounge:before {
  content: "\e648";
}
.icon-maestro:before {
  content: "\e649";
}
.icon-master-card:before {
  content: "\e64a";
}
.icon-messages:before {
  content: "\e64b";
}
.icon-more:before {
  content: "\e64c";
}
.icon-motor-racing:before {
  content: "\e64d";
}
.icon-motorbikes:before {
  content: "\e64e";
}
.icon-netball:before {
  content: "\e64f";
}
.icon-neteller:before {
  content: "\e650";
}
.icon-openBets:before {
  content: "\e651";
}
.icon-orienteering:before {
  content: "\e652";
}
.icon-pay-safe-card:before {
  content: "\e653";
}
.icon-paypal:before {
  content: "\e654";
}
.icon-pending:before {
  content: "\e655";
}
.icon-penthathlon:before {
  content: "\e656";
}
.icon-politics:before {
  content: "\e657";
}
.icon-pool:before {
  content: "\e658";
}
.icon-promotions:before {
  content: "\e659";
}
.icon-remove:before {
  content: "\e65a";
}
.icon-responsible-gambling-trust:before {
  content: "\e65b";
}
.icon-results:before {
  content: "\e65c";
}
.icon-reverse-withdrawal:before {
  content: "\e65d";
}
.icon-rowing:before {
  content: "\e65e";
}
.icon-rugby-league:before {
  content: "\e65f";
}
.icon-rugby-union:before {
  content: "\e660";
}
.icon-rules:before {
  content: "\e661";
}
.icon-sailing:before {
  content: "\e662";
}
.icon-scratch:before {
  content: "\e663";
}
.icon-search:before {
  content: "\e664";
}
.icon-select:before {
  content: "\e665";
}
.icon-settings:before {
  content: "\e666";
}
.icon-shooting:before {
  content: "\e667";
}
.icon-skill:before {
  content: "\e668";
}
.icon-skrill:before {
  content: "\e669";
}
.icon-slot:before {
  content: "\e66a";
}
.icon-snooker:before {
  content: "\e66b";
}
.icon-softball:before {
  content: "\e66c";
}
.icon-specials:before {
  content: "\e66d";
}
.icon-spinner:before {
  content: "\e66e";
}
.icon-squash:before {
  content: "\e66f";
}
.icon-stats-1:before {
  content: "\e670";
}
.icon-stats-2:before {
  content: "\e671";
}
.icon-streaming:before {
  content: "\e672";
}
.icon-swimming:before {
  content: "\e673";
}
.icon-t-shirt:before {
  content: "\e674";
}
.icon-table-tennis:before {
  content: "\e675";
}
.icon-table:before {
  content: "\e676";
}
.icon-taekwondo:before {
  content: "\e677";
}
.icon-tennis:before {
  content: "\e678";
}
.icon-tick:before {
  content: "\e679";
}
.icon-tip-advisor:before {
  content: "\e67a";
}
.icon-transactions:before {
  content: "\e67b";
}
.icon-transfer:before {
  content: "\e67c";
}
.icon-triathlon:before {
  content: "\e67d";
}
.icon-tv:before {
  content: "\e67e";
}
.icon-ufc-mma:before {
  content: "\e67f";
}
.icon-ukash:before {
  content: "\e680";
}
.icon-virtual-world:before {
  content: "\e681";
}
.icon-visa:before {
  content: "\e682";
}
.icon-volleyball:before {
  content: "\e683";
}
.icon-water-polo:before {
  content: "\e684";
}
.icon-weightlifting:before {
  content: "\e685";
}
.icon-whtv:before {
  content: "\e686";
}
.icon-winter-sports:before {
  content: "\e687";
}
.icon-withdraw:before {
  content: "\e688";
}
.icon-wrestling:before {
  content: "\e689";
}
.icon-x:before {
  content: "\e68a";
}
