.details {

  &.-small {
    dt, dd {
      line-height: px_to_em(14, 12);
    }
  }
}

.breadcrumb {
  margin-bottom: 0.7em;
  font-size: 0.875em; // 14px

  .breadcrumb__title {
    display: inline-block;
  }

  .breadcrumb__list {
    display: inline-block;
  }

  .breadcrumb__item {
    display: inline-block;
    text-transform: capitalize;

    a {
      text-transform: capitalize;
    }

    &:after {
      content: ' / ';
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}