.loadmask {
  z-index: 100;
  position: absolute;
  top:0;
  left:0;
  -moz-opacity: 0.5;
  opacity: .50;
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
  zoom: 1;
}
.loadmask-msg {
}
.loadmask-msg div {
  padding:5px 10px 5px 25px;
  line-height: 16px;
  cursor:wait;
  font-size: .875em;
  position: absolute;
  left: 0;
  top: 0;
}
.masked {
}
.masked-relative {
}
.masked-hidden {
  visibility: hidden !important;
}