.message {
  &-warning {
    @include message($message-warning-bg-color, $message-warning-border-color, $message-warning-font-color);
    &--unconstraint{
    	height: auto;
    	text-overflow: initial;
  		white-space: initial;
    }
  }
  &-error {
    @include message($message-error-bg-color, $message-error-border-color, $message-error-font-color);
  }
  &-success {
    @include message($message-success-bg-color, $message-success-border-color, $message-success-font-color);
  }
  &-notification {
    margin-bottom: 0.5em;
    color: $hit-gray;
    font-size: px_to_em(14, 9);
    text-align: center;
    width: 100%;
  }
}