//  Off Canvas Component

// Variables
// ---------------------------------------------------------------------------
$off-canvas-left-width:                 100% !default;
$off-canvas-right-width:                100% !default;
$off-canvas-left-fixed-width:           272px !default;
$off-canvas-right-fixed-width:          272px !default;
$off-canvas-panel-gutter:               8px !default;

$off-canvas-tablet-breakpoint:          768px !default;
$off-canvas-desktop-breakpoint:         1024px !default;


// Panels Width ( class name, width)
$off-canvas-left-panel-width-list:      (
                                        (off-canvas__left--100,  100px),
                                        (off-canvas__left--200,  200px)
                                        );
$off-canvas-right-panel-width-list:     (
                                        (off-canvas__right--100,  100px),
                                        (off-canvas__right--200,  200px)
                                        );

// Transition Variables
$off-canvas-no-transition:              transform 0ms ease !default;
$off-canvas-transition-function:        ease;
$off-canvas-transitions-function-list:  (
                                        (function-ease          ease),
                                        (function-linear        linear),
                                        (function-ease-in       ease-in),
                                        (function-ease-out      ease-out),
                                        (function-ease-in-out   ease-in-out)
                                        );
$off-canvas-transition-duration:        500ms;
$off-canvas-transitions-duration-list:  (
                                        (slower,    1000ms),
                                        (slow,      750ms),
                                        (fast,      500ms),
                                        (faster,    250ms)
                                        );

// Mixins
// ---------------------------------------------------------------------------

/**
 * Styles for off-canvas aside panels
 * @param position (position of the panel)
 */
// Basic styles for off-canvas aside panels
@mixin off-canvas-panel ($position) {
    float: left;
    position: relative;
    z-index: 9;

    @if $position == left {
        background-color: #184b74;          // TODO[cm] Remove this. Only for a demo.
        left: -$off-canvas-left-width;
        width: $off-canvas-left-width;
    }
    @if $position == left-fixed {
        background-color: #184b74;          // TODO[cm] Remove this. Only for a demo.
        left: -$off-canvas-left-fixed-width - $off-canvas-panel-gutter;
        width: $off-canvas-left-fixed-width;
    }

    @if $position == right {
        right: -$off-canvas-right-width;
        width: $off-canvas-right-width;

        @include breakpoint($off-canvas-tablet-breakpoint) {
            padding-left: $off-canvas-panel-gutter;
            width: $off-canvas-right-fixed-width;
        }
    }
    @if $position == right-fixed {
        right: -$off-canvas-right-fixed-width - $off-canvas-panel-gutter;
        width: $off-canvas-right-fixed-width;
    }

    @if $position == right-abs {
        position: absolute;

        @include breakpoint($off-canvas-tablet-breakpoint) {
            right: -$off-canvas-right-fixed-width - $off-canvas-panel-gutter;
        }

        @include breakpoint($off-canvas-desktop-breakpoint) {
            position: initial;
        }

    }
}

/**
 * Get Transition
 * @param transition-function
 * @param transition-duration
 */
@mixin getTransition ($transition-function: $off-canvas-transition-function, $transition-duration: $off-canvas-transition-duration) {
    transition: transform $transition-duration $transition-function;
}

/**
 * Remove transition flicker on phones
 */
@mixin kill-flicker {
    -webkit-backface-visibility: hidden;
}

// --------------------------------------------------------------------------------
// Styles for Off Canvas (following BEM)
// off-canvas BlOCK

.off-canvas {

    // --------------------------------------------------------------------------------
    // Classes
    // --------------------------------------------------------------------------------

    &__wrapper {
        overflow: hidden;
        position: relative;
        width: 100%;
        @include kill-flicker;
    }

    &__inner-wrapper {
        position: relative;
        width: 100%;
        @include getTransition();
        @include kill-flicker;

        // desktop
        @include breakpoint($off-canvas-desktop-breakpoint) {
            @include flexbox();
        }
    }

    // Main Section
    &__main {
        float: left;
        margin-left: -$off-canvas-left-width;
        margin-right: -$off-canvas-left-width;
        width: 100%;

        // Left panel
        &--left {
            // tablet
            @include breakpoint($off-canvas-tablet-breakpoint) {
                margin-left: -$off-canvas-left-fixed-width;
                margin-right: -$off-canvas-left-fixed-width;
            }

            // desktop
            @include breakpoint($off-canvas-desktop-breakpoint) {
                margin-left: $off-canvas-panel-gutter;
            }
        }

        &--right {

            margin-left: 0;

            // tablet
            @include breakpoint($off-canvas-tablet-breakpoint) {
                margin-right: -$off-canvas-left-width;
            }
        }

        &--2-panels {
            // tablet
            @include breakpoint($off-canvas-tablet-breakpoint) {
                margin-left: -$off-canvas-left-fixed-width;
            }

            // desktop
            @include breakpoint($off-canvas-desktop-breakpoint) {
                margin-left: $off-canvas-panel-gutter;
            }
        }

        // desktop
        @include breakpoint($off-canvas-desktop-breakpoint) {
            float: initial;
            margin-right: 0;
        }

    }

    &__main-inner {
        padding: .5em;
    }

    // Left Panel
    &__left {

        @include off-canvas-panel($position: left);

        // tablet
        @include breakpoint($off-canvas-tablet-breakpoint) {
            @include off-canvas-panel($position: left-fixed);
        }

        // desktop
        @include breakpoint($off-canvas-desktop-breakpoint) {
            float: initial;
            left: 0;
            width: 100%;
            @include flex(1 0 $off-canvas-left-fixed-width);
        }

    }

    &__left-inner {
        padding: $off-canvas-panel-gutter;
    }

    // Right Panel
    &__right {
        @include off-canvas-panel($position: right);

        &--abs {
            @include off-canvas-panel($position: right-abs);
        }

        // desktop
        @include breakpoint($off-canvas-desktop-breakpoint) {
            float: initial;
            left: 0;
            width: 100%;
            @include flex(1 0 $off-canvas-right-fixed-width);
        }

    }

    &__right-inner {
        background-color: #184b74;          // TODO[cm] Remove this. Only for a demo.
        padding: $off-canvas-panel-gutter;
    }


    // --------------------------------------------------------------------------------
    // Modifiers for toggling Panels
    // --------------------------------------------------------------------------------
    &--move-left {
        .off-canvas__inner-wrapper {
            @include translate(-(100%), 0, false);

            @include breakpoint($off-canvas-tablet-breakpoint) {
                @include translate(-($off-canvas-left-fixed-width) - $off-canvas-panel-gutter, 0, false);
            }

            @include breakpoint($off-canvas-desktop-breakpoint) {
                @include translate(0, 0, false);
            }
        }
    }

    &--move-right {
        .off-canvas__inner-wrapper {
            @include translate(100%, 0, false);

            @include breakpoint($off-canvas-tablet-breakpoint) {
                @include translate($off-canvas-right-fixed-width + $off-canvas-panel-gutter, 0, false);
            }

            @include breakpoint($off-canvas-desktop-breakpoint) {
                @include translate(0, 0, false);
            }
        }
    }

    // --------------------------------------------------------------------------------
    // Modifiers for setting different Panels width for Tablet
    // --------------------------------------------------------------------------------
    // Left Panel Widths
    @each $item in $off-canvas-left-panel-width-list {
        &.#{nth($item, 1)} {

            // tablet
            @include breakpoint($off-canvas-tablet-breakpoint) {
                .off-canvas__left {
                    left: -(nth($item, 2)) - $off-canvas-panel-gutter;
                    width: nth($item, 2);
                }

                &.off-canvas--move-right {
                    .off-canvas__inner-wrapper {
                        @include translate(nth($item, 2) + $off-canvas-panel-gutter, 0, false);
                    }
                }

                .off-canvas__main--left {
                    margin-left: -(nth($item, 2));
                    margin-right: -(nth($item, 2));
                }

                .off-canvas__main--2-panels {
                    margin-left: -(nth($item, 2));
                }

            }

            // desktop
            @include breakpoint($off-canvas-desktop-breakpoint) {
                .off-canvas__left {
                    left: 0;
                    @include flex(1 0 nth($item, 2));
                }

                .off-canvas__main--2-panels {
                    margin-left: $off-canvas-panel-gutter;
                }

                &.off-canvas--move-left {
                    .off-canvas__inner-wrapper {
                        @include translate(0, 0, false);
                    }
                }
            }

        }
    }

    // Right Panel Widths
    @each $item in $off-canvas-right-panel-width-list {
        &.#{nth($item, 1)} {

            // tablet
            @include breakpoint($off-canvas-tablet-breakpoint) {
                .off-canvas__right {
                    width: nth($item, 2);
                }

                &.off-canvas--move-left {
                    .off-canvas__inner-wrapper {
                        @include translate(-(nth($item, 2)) - $off-canvas-panel-gutter, 0, false);
                    }
                }

                .off-canvas__right--abs {
                    right: -(nth($item, 2));
                }
            }

            // desktop
            @include breakpoint($off-canvas-desktop-breakpoint) {
                .off-canvas__right {
                    @include flex(1 0 nth($item, 2));
                }

                &.off-canvas--move-left {
                    .off-canvas__inner-wrapper {
                        @include translate(0, 0, false);
                    }
                }
            }

        }
    }

    // --------------------------------------------------------------------------------
    // Modifier for disabling transition
    // --------------------------------------------------------------------------------
    &--no-transition {
        .off-canvas__inner-wrapper {
            @include transition($off-canvas-no-transition);
        }
    }

    // --------------------------------------------------------------------------------
    // Modifiers for setting Transition functions
    // --------------------------------------------------------------------------------
    @each $item in $off-canvas-transitions-function-list {
        &--#{nth($item, 1)} {
            .off-canvas__inner-wrapper {
                @include transition-timing-function(nth($item, 2));
            }
        }
    }

    // --------------------------------------------------------------------------------
    // Modifiers for setting Transition duration
    // --------------------------------------------------------------------------------
    @each $item in $off-canvas-transitions-duration-list {
        &--#{nth($item, 1)} {
            .off-canvas__inner-wrapper {
                @include transition-duration(nth($item, 2));
            }
        }
    }

    // --------------------------------------------------------------------------------
    // TODO[cm] Remove this. Only for a demo.
    // --------------------------------------------------------------------------------
    &__wrapper {
        color: white;
        margin-bottom: 2em;
        .off-canvas__left-toggle,
        .off-canvas__left-exit,
        .off-canvas__right-toggle,
        .off-canvas__right-exit {
            color: #cccccc;
        }
    }
    &__main-inner {
        background-color: #248cb3;
    }

}