//=============================================================================
/*
  PREFOOTER:
  - contains the odss filter on the home page
  - contains the back to top button

    STRUCTURE:
    div.prefooter
      .prefooter__price-filter
        p.label
        div.positionner
          .odds-format-filter
      .prefooter__back-to-top-wrapper
        .button__back-to-top
          i.icon-expanded
          span.label

    LIST ELEMENT IN THIS FILE
    1/ --------- __PRICE-FILTER
    2/ --------- __BACK-TO-TOP-WRAPPER

    => Please note a few values are in pixels as a particular case
*/
//=============================================================================

//  VARIABLE
$breakpoint_back_to_top : 1000px;

.prefooter{

  //-------------------------------------------
  @include breakpoint($breakpoint_back_to_top){
    // display: none;
    max-width: 1280px;
    padding-left: span(px_to_em(86, 12));
    margin: 0 auto px_to_em(8, 12);
    position: relative;
    @include legacy-pie-clearfix();
  }


  //------------------------- __PRICE-FILTER
  &__price-filter{
    font-size: 12px;
    width: 80%;
    margin: 0 auto px_to_em(24, 12);
    @include legacy-pie-clearfix();
    text-align: center;
    height: 37px;

    & > *{
      display: none!important;
    }
    //--- Only display on highlights page
    body[data-page='home'] &{
      & > *{
        display: inline-block!important;
      }
    }
    
    //--- Label before the dropdown
    p.label{
      display: inline-block;
      font-weight: bold;
      margin-right: px_to_em(8, 12);
      color: #758fa8;
    }

    //--- Allows to position the dropdown in absolute (to not push the footer on open state)
    .positionner{
      width: 110px;
      height: 35px;
      position: relative;
      display: inline-block;
    }

    //------------ Dropdown
    .odds-format-filter{
      background-color: $eastern-blue-2;
      border: solid 1px $eastern-blue-2;
      display: inline-block;
      padding: 0;
      position: absolute;
      top: 1em;
      left: 0;
      z-index: 50;
      @include border-radius(px_to_em(3));
      @include transition(background-color linear $fastAnim);
      
      .odds-format__toggle,
      .odds-format__button{
        color: $button-text-color;
        padding: 1em;
      }

      &.-opened{
        background: $white;

        i{
          @extend .icon-x;
          font-size: 9px;
        }
        .odds-format__toggle,
        .odds-format__button{
          color: $eastern-blue-2; 
          text-align: left;
        }
        .odds-format__button:hover,
        .odds-format__button.-active{
          background: $eastern-blue-2;
          color: $white; 
        }
      }
    }  

    //-------------------------------------------
    @include breakpoint($breakpoint_back_to_top){
      font-size: 12px;
      float: left;
      width: 60%;
      text-align: left;
      margin-bottom: 2em;
    }
  }


  //------------------------- __BACK-TO-TOP-WRAPPER
  &__back-to-top-wrapper{
    clear: both;
    margin: 0 -1em;

    .button__back-to-top{
      text-align: center;
      cursor: pointer;
      vertical-align: middle;
      line-height: 1.2em;
      padding: $basePadding $basePadding*2;
      color: $white;
      font-weight: bold;
      font-size: 12px;
      @include transition(background-color linear $fastAnim);
      background-color: $button-blue-darkest-bg-color;
      &:hover {
        background-color: $button-blue-dark-hover-bg-color;
      }
      i{
        display: inline-block;
        margin-right: px_to_em(4, 12);
        @include transform(rotate(-180deg));
      }
      
      //-------------------------------------------
      @include breakpoint($breakpoint_back_to_top){
        position: absolute;
        top: 11px;
        right: px_to_em(8, 12);
        @include border-radius(px_to_em(3));
        width: 40px;
        height: 40px;
        padding: 0;
        i{
          display: block;
          width: 40px;
          font-size: 22px;
          margin: 8px auto 0;
        }
        .label{
          display: none;
        }
      }
    }
  }


}