/*

  STANDARDS
  - Kind of like a WH reset file...

*/

*, *:before, *:after { 
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

body {
  background-color: $container-blue-darker-bg-color;
  font-family: $bodyFont;
  font-size: $bodyFontString;
}

.outermain {
  @extend .clearfix;
  background: $background-image-path;
  width: 100%;

  @include breakpoint($hidpi) {
    background-image:url('../images/bg-pattern-x2.png');
    background-size: 100px 100px;
  }
}

a {
  text-decoration: none;
  cursor:pointer;

   color: $link-blue-color;
    &:hover{
      color: $link-blue-hover-color;
   }
}

//Avoid the undesirable flicker effect caused by the html template display
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}