$Raw-Umber:                     rgb(114, 80, 16);    // #725010
$Ronchi:                        rgb(241, 184, 73);   // #F1B849
$Inch-Worm:                     rgb(169, 218, 17);   // #A9DA11
$Limeade:                       rgb(104, 147, 2);    // #689302

// race navigation
.race-nav-wrapper {
  font-size: 12px;
  width: 100%;
}

.race-nav-heading {
  font-weight: bold;
  font-size: px_to_em(16,12);
  padding-bottom: px_to_em(12,12);
  text-align: left;
}

// nav
.race-nav {
  width: 100%;

  .-expanded {
    display: block;
  }

  &__group-header {
    @include flexbox();
    @include flex-justify-content(space-between, justify);
    @include flex-align-items(center, center);
    background-color: $header-blue-dark-bg-color;
    color: $header-text-color;
    height: px_to_em(40, 12);
    border-bottom: 1px solid $border-white-color;
    &--link {
      cursor: pointer;
    }
    //---------- IE9 case
    @include old-ie {
      display: table;
      width: 100%;
      line-height: px_to_em(40, 12);
    }
  }
  &__group-header-name {
    @include flex(1);
    padding: 0 px_to_em(8, 12);
    //---------- IE9 case
    @include old-ie {
      display: table-cell;
    }
  }
  &__group-header-toolbar {
    a[class*=button] {
      border-radius: 0;
      margin-left: px_to_em(2, 12);
      height: px_to_em(39, 12);
      width: px_to_em(40, 12);
      padding: 0;
      i {
        line-height: px_to_em(40, 12);
      }
    }
    //---------- IE9 case
    @include old-ie {
      display: table-cell;
      width: px_to_em(40, 12);
    }
  }
  &__group-content {
    background-color: $container-white-bg-color;
    display: none;
    padding: px_to_em(8, 12);
    width: 100%;
    &--single-level {
      padding: 0 0 px_to_em(8, 12) 0;
    }

    .message-warning{
      height: auto;
      white-space: normal;
      text-overflow: initial;
    }
  }

  // footer
  &__footer {
    background-color: $container-white-bg-color;
    padding: px_to_em(12, 12) px_to_em(8, 12);
    width: 100%;
  }

}

// subnav
.race-subnav {

  &__group {
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid $border-white-color;
  }
  &__group-header {
    @extend .race-nav__group-header;
    background-color: $header-blue-bg-color;
  }
  &__group-header-name {
    @extend .race-nav__group-header-name;
  }
  &__group-header-toolbar {
    @extend .race-nav__group-header-toolbar;
  }
  &__group-content {
    border-bottom: 1px dashed $border-light-gray-color;
    display: none;
    margin-bottom: px_to_em(6, 12);
    padding: .5em 0;
    &--antepost {
      border: none;
      padding-top: 0;
    }
  }

}

// future races/antepost items
.race-group-content {

  &__item {
    border-bottom: 1px dotted $border-light-gray-color;
    &:nth-of-type(2n) {
      background: $container-gray-bg-color;
    }
  }

  &__item-link {
    display: block;
    padding: px_to_em(12, 12);
    &:hover,
    &--selected {
      border-left: px_to_em(4, 12) solid $border-blue-color;
      padding-left: px_to_em(8, 12);
    }
  }

  &__item-name {
    color: $link-blue-color;
    font-size: px_to_em(14, 12);
    line-height: 1.2;
    font-weight: bold;
    display: block;
    .race-group-content__item-link:hover & {
      color: mix($link-blue-color, white, 50%);
    }
  }

  &__item-date {
    color: $text-grey-color;
    display: block;
    padding-top: px_to_em(4, 12);
  }

}

// race-meeting
.race-meeting {
  margin: 0 -4px 0 -4px;

  &__header {
    @include flexbox();
    @include flex-justify-content(space-between, justify);
    @include flex-align-content(space-between, justify);
    @include flex-wrap();
    font-size: 0.8125em;
    padding: .25em .5em;
    width: 100%;
    margin-bottom: .5em;
  }

  // race-meeting media
  &__media {
    padding: 0.375em 0;
  }
  &__media-item {
    display: inline-block;
    margin-right: px_to_em(8, 12);
    margin-bottom: px_to_em(8, 12);

    i {
      font-size: 8px;
      font-weight: bold;
      padding: 0 .25em;
    }

    &--blue {
      background-color: $container-blue-bg-color;
      color: $text-white-color;
      padding: .125em .25em;
      @include border-radius(2px);
    }
    &--red {
      background-color: $container-red-bg-color;
      color: $text-white-color;
      padding: .125em .25em;
      @include border-radius(2px);
    }
    &--yellow {
      background-color: $container-yellow-bg-color;
      padding: .125em .25em;
      @include border-radius(2px);
    }

  }

  // race-meeting__going
  &__going {
    font-size: 11px;
    padding: 0.25em 0;

    &--bold {
      font-weight: bold;
    }

  }

  &__nav {
    overflow: hidden; // to contain floated children
  }

  // race-meeting__nav
  &__item {
    @include span(6 of 12 1/8 inside-static);

    &--3columns{
      @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
        @include span(4 of 12 1/8 inside-static);
      }
    }

  }
  &__selection {
    height: px_to_em(32, 12);
    margin-bottom: px_to_em(8, 12);
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;

    &:before {
      content: attr(data-name);
      text-align: center;
    }

    &--selected {
      background-color: $button-blue-bg-color;
      color: $button-text-color;
      &:hover {
        background-color: lighten($button-blue-bg-color, 5);
        color: $button-text-color;
      }
    }
    &--qualified {
      background-color: $container-yellow-bg-color;
      &:hover {
        background-color: lighten($container-yellow-bg-color, 5);
      }
      .icon-placeholder:last-child{
        @extend .icon__qualified-race;
      }
    }


    &--tv{
      .icon-placeholder:first-child{
        @extend .icon-tv;
        color: $text-blue-dark-color;
      }
    }

    &--best-odds-guaranteed{
      .icon-placeholder:last-child{
        @extend .icon__best-odds-guaranteed;
      }
    }

    &--early-prices{
      .icon-placeholder:last-child{
        @extend .icon__early-prices;
      }
    }

    &--results{
      .icon-placeholder:last-child{
        @extend .icon__results;
      }
    }

    [class^="icon-"]{
      font-size: 7px;
    }

    // .icon-placeholder:last-child{
    //   @extend .icon__best-odds-guaranteed;
    // }

  }

  // race-meeting keys
  &__keys {
    font-width: bold;
  }
  &__keys-item {
    display: inline-block;
    margin-right: .5em;
    vertical-align: top;
    position: relative;
    margin-bottom: 2px;

    span {
      // float: left;
      // padding-left: 0.25em;
    }

    img {
      width: 7px;
    }

    [class^="icon"]{
      color: $eastern-blue-2
    }
    
    .icon-tv{
      font-size: px_to_em(8, 12);
      color: $text-blue-dark-color;
    }

  }

}

.icon__results {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  
  &:before {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 2px;
    background: $mine-shaft;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    background: white;
    @include border-radius(50%);
    border: solid 2px #d0041d;
    bottom: 2px;
    left: 0;
  }

  &--large{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    
    &:before {
      content: '';
      display: block;
      width: 3px;
      height: 3px;
      position: absolute;
      bottom: 3px;
      left: 6px;
      background: $black;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 14px;
      height: 14px;
      background: white;
      @include border-radius(50%);
      border: solid 4px #d0041d;
      bottom: 5px;
      left: 0;
    }
  }

  &--inverted{
    &:before {
      background: $white;
    }
  }

}


@mixin square-icon($background-color, $border-color){
  display: inline-block;
  width: 8px;
  height: 8px;
  border: solid 1px $border-color;
  background: $background-color;
  @include border-radius(2px);
  margin-bottom: -1px;
}

.icon__best-odds-guaranteed{
  @include square-icon($Ronchi !important, $Raw-Umber !important);
}

.icon__qualified-race{
  @include square-icon($container-yellow-bg-color, $dove-gray);
}

.icon__early-prices{
  @include square-icon($Inch-Worm, $Limeade);
}



