.race-header {
  @include flexbox();
  @include flex-justify-content(space-between, justify);
  @include flex-align-items(center, center);
  background-color: $header-blue-dark-bg-color;
  border-bottom: 1px solid $white;
  color: $white;
  font-size: 12px;
  height: px_to_em(40, 12);
  overflow: hidden;
  //---------- IE9 case
  @include old-ie {
    display: block;
    overflow: hidden;
  }

  &--antepost,
  &--specials {
    @include flexbox();
    @include flex-direction(column, normal, vertical);
    font-size: 12px;
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      @include flex-direction(row, normal, horizontal);
      @include flex-align-items(center, center);
      padding: px_to_em(14, 12) px_to_em(8, 12);
      background-color: $header-blue-dark-bg-color;
      color: $white;
    }
    //---------- IE9 case
    @include old-ie {
      display: block;
      overflow: hidden;
    }
  }

  &__name {
    padding: 0 px_to_em(8, 12);
    //---------- IE9 case
    @include old-ie {
      display: inline-block;
      line-height: 3.4;
    }

    &--antepost,
    &--specials {
      background-color: $header-blue-dark-bg-color;
      color: $white;
      padding: px_to_em(14, 12) px_to_em(8, 12);
      @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
        padding: 0;
      }
      //---------- IE9 case
      @include old-ie {
        display: block;
        @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
          display: inline-block;
          float: left;
        }
      }
    }

  }

  &__bet-until {
    background: $white;
    color: $text-black-color; // #222
    padding: px_to_em(8, 12) px_to_em(8, 12) px_to_em(14, 12) px_to_em(8, 12);
    font-weight: bold;
    display: inline-block;
    border-bottom: 1px solid $border-light-gray-color;
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      padding: 0;
      border: none;
      background: inherit;
      color: inherit;
      font-weight: normal;
      margin-left: px_to_em(8,12);
      &:before {
        content: "(";
      }
      &:after {
        content: ")";
      }
    }
    //---------- IE9 case
    @include old-ie {
      display: block;
      @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
        display: inline-block;
        float: left;
      }
    }
  }

  &__track {
    display: none;
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      display: inline;
    }
  }
  &__status {
    display: none;
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      display: inline;
    }
  }

  // toolbar
  &__toolbar {
    @include flexbox();
    //---------- IE9 case
    @include old-ie {
      display: table;
      float: right;
    }
  }

  &__toolbar-item {
    background-color: $transparency-white-lighter-color;
    border-radius: 0;
    height: px_to_em(39, 12);
    margin-left: 2px;
    padding: 0;
    text-align: center;
    width: $toolbar-item-width;
    display: inline-block;
    @include transition(background-color ease 0.5s);

    &:hover {
      background-color: $transparency-white-lightest-color;
    }

    &--tv {
      background-color: $container-yellow-bg-color;
      &:hover {
        background-color: lighten($container-yellow-bg-color, 10);
      }
      i {
        color: $text-black-color;
      }
    }

    &--form{
      width: $toolbar-item-width*2;
      background: $black;
      color: $white;
      .wrapper-icon{
        padding: 1em;
        i{
          float: left;
        }
      }
    }

    //---------- IE9 case
    @include old-ie {
      display: table-cell;
      border-left: 2px solid $header-blue-dark-bg-color;
    }

  }

  &__toolbar-icon {
    color: $white;
    font-weight: bold;
    line-height: px_to_em(40, 12);
  }

}

// meta details
.race__event {

  &__meta-details {
    background: $white;
    padding: 0 0.5em;
    overflow: hidden;
  }

  &__message {
    text-align: center;
    font-size: px_to_em(14,12);
  }

}
