.race-event,
.racing-highlights {
  width: 100%;
  float: left;
  margin-bottom: 1em;
}

.race-event--highlights {
  margin-bottom: 1em;
  border: 1px solid $border-light-gray-color;
  @include flex(1 1 auto);
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    border: 0;
  }

  @include breakpoint(px_to_em($next-off-show-row)) {
    @include flex(1 0 px_to_em(198));
    margin-bottom: 0;
    margin-left: 0.5em;
    &:first-child {
      margin-left: 0;
    }
  }

  @include breakpoint(px_to_em($next-off-increase-item-width)) {
    @include flex(1 0 12em);
    margin-left: 1em;
  }

  @include breakpoint(px_to_em($next-off-reduce-item-width)) {
    @include flex(1 0 px_to_em(198));
    margin-left: 0.5em;
  }

  @include breakpoint(px_to_em($next-off-desktop)) {
    margin-left: 1em;
  }

  //---------- IE9 case
  @include old-ie {
    margin: 0 0 1em;
    padding: 0;
    display: block;
    width: 100%;
    float: left;
    overflow: hidden;
    @include breakpoint(px_to_em($next-off-show-row)) {
      width: 32%;
      margin: 0 1% 1em 0!important;
      &:last-child{
        margin-right: 0!important;
      }
    }
  }
  //---------- END IE9 case
  
}

.race-event__header,
.race-event__footer,
.racing-highlights__header,
.race-event__header--results {
  position: relative;
}

.race-event__footer{
  background-color: $Athens-Gray;
  padding: 1em .5em;
  font-size: 12px;
  border-top: solid 1px $border-light-gray-color;

  .group{
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: solid 1px $border-light-gray-color;
    @include pie-clearfix();

    &:last-child{
      border: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    p{
      padding: 0;
    }

  }
}

.race-event__header--results {
  margin-bottom: px_to_em(8);
}

.race-event__name,
.racing-highlights__name {
  text-align: center;
  width: 100%;
  @include breakpoint(px_to_em($racing-show-nav-breakpoint)) {
    text-align: left;
  }

  &--hidden{
    visibility: hidden;
  }
}

.race-event__name--antepost,
.race-event__name--specials {
  @include flexbox();
  @include flex-align-items(stretch, stretch);
  @include flex-justify-content(flex-start, start);
  margin-bottom: px_to_em(16);

  .sectionheading {
    margin-bottom: 0;
    text-align: center;
    @include breakpoint(px_to_em($racing-show-nav-breakpoint)) {
      text-align: left;
      margin-left: 0;
    }
  }
}

.race-event__toggle-menu {
  @include flex(0 0 px_to_em(32));
  @include flexbox();
  @include flex-align-items(stretch, stretch);
  @include breakpoint(px_to_em($racing-show-nav-breakpoint)) {
    display: none;
  }
}

// SBK-1298 - Meeting Markets Title not center aligned
// Note: Meetings Markets page is reusing Event Page markup
.-racing {
  .sectionheading .s2 {
    text-align: center;
  }
}

.race-event__toggle-meetings-menu,
.racing-highlights__toggle-meetings-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.race-event__toggle-meetings-link,
.racing-highlights__toggle-meetings-link {
  font-size: 0.75em;
  font-weight: bold;
  &.race-event__toggle-meetings-link--antepost,
  &.race-event__toggle-meetings-link--specials {
    width: 100%;
    @include flexbox();
    @include flex-align-items(center, center);
  }
}

.racecard {
  background-color: $white;
  overflow: hidden;
  padding: 0 0.5em;
  &.result{
    padding-top: .5em;
  }
  &.racecard--antepost,
  &.racecard--specials {
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      padding-top: 0.5em;
    }
  }
  &.racecard--highlights {
    padding-top: 0.5em;
  }
  &--results {
    display: none;
    @extend .racecard;
    &.-expanded {
      display: block;
    }
  }
}

// container for Next Off racecards
.racing-next-events {
  @include flexbox();
  @include flex-direction(column, normal, vertical);
  @include flex-align-items(stretch, stretch);
  margin-bottom: 1em;

  @include breakpoint(px_to_em($next-off-show-row)) {
    @include flex-direction(row, normal, horizontal);
    @include flex-justify-content(space-between, justify);
  }

}

.racecard__race-name {
  font-size: 0.8em;
  font-weight: bold;
  padding-bottom: 0.6em;
}
