.race-event {

  &__meta-details {
    background: $white;
    padding: .5em;
    overflow: hidden;
  }

  &__overview {
    font-size: 12px;
    line-height: 1.4;
    //margin-bottom: px_to_em(8, 12);
    //display: inline-block;

    & + .race-event__overview{
      margin-top: px_to_em(8, 12);
    }

    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
        float: left;
        display: inline-block;
        & + .race-event__overview{
          float: right;
          text-align: right;
          margin-top: 0;
        }
    }
  }

  .race-overview{
    
    &__banner{
      float: right;
      position: relative;
      overflow: hidden;
      display: none;;
      
      .button__play{
        position: absolute;
        width: 4em;
        height: 2.5em;
        top: 70%;
        left: 50%;
        margin: -1.25em 0 0 -2em;
        text-align: center;
        font-size: 2.2em;
        color: $white;

        &:after{
          content: attr(data-btn-label);
          position: absolute;
          bottom: 30px;
          font-size: px_to_em(12, 30);
          color: $white;
          left: 0;
          width: 100%;
        }
      }

      img{
        max-width: 100%;
        display: block;
      }

      @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
        display: block;
      }

    }
  }

  &__view-message {
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
    padding: 0.5em;
    background: $bright-sun;
    border-radius: 3px;
    margin-bottom: 0.5em;
    position: relative;

    &--qualified:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 .3em .6em .3em;
      border-color: transparent transparent $bright-sun transparent;
      position: absolute;
      top: -8px;
      right: ($toolbar-item-width * 1.5) - px_to_em(16,12);
    }
  }
}

.race-event__view-message {
  text-align: center;
  font-size: 0.85em;
  font-weight: bold;
  padding: 0.5em;
  background: $container-yellow-bg-color;
  border-radius: 3px;
  margin-bottom: 0.5em;
  position: relative;
  &.race-event__view-message--qualified:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 .3em .6em .3em;
    border-color: transparent transparent $supernova transparent;
    position: absolute;
    top: -8px;
    right: ($toolbar-item-width * 1.5) - px_to_em(16,12);
  }

}
