.racecard-footer {
  font-size: px_to_em(12);
  padding-bottom: px_to_em(16);
  line-height: 1.2;

  &--highlights {
    @include flexbox();
    @include flex-justify-content(space-between, justify);
    @include flex-align-items(center, center);
    padding-top: 1em;
    line-height: 1;
  }

  &--markets {
    @extend .racecard-footer;
    font-size: 1em;
    padding-right: px_to_em(8);
    padding-left: px_to_em(8);
  }

  &__each-way {
    text-align: right;
    font-weight: bold;
    padding: px_to_em(16) 0 px_to_em(24) 0;
  }

  &__message {
    padding-top: px_to_em(16);
    border-top: 1px solid $border-light-gray-color;
  }

  &__total-runners {
    font-weight: bold;
    //---------- IE9 case
    @include old-ie {
      display: inline-block;
      float: right;
      line-height: 32px;
    }
  }

  // Used on Virtual Next Off cards
  &__note {
    font-weight: bold;
    text-align: right;
    padding: 0.5em 0 2em 0;
  }

  &__each-way-container {
    padding: px_to_em(12) 0 px_to_em(12) 0;
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      @include flexbox();
      @include flex-justify-content(flex-end, end);
      padding: px_to_em(16) 0 px_to_em(24) 0;
      //---------- IE9 case
      @include old-ie {
        display: table;
        width: 100%;
      } 
    }
    span {
      display: inline-block;
    }
  }

  &__each-way-label {
    font-weight: bold;
    display: inline-block;
    padding-bottom: px_to_em(8);
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      padding-bottom: 0;
      //---------- IE9 case
      @include old-ie {
        display: table-cell !important;
        text-align: right;
      } 
    }
  }

  &__each-way-odds--multi {
    text-align: center;
    @include flex(0 0 56px);
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      @include flex(1 0 50px);
      margin-left: $button-left-margin;
      padding: 0 px_to_em(4);
    }
    //---------- IE9 case
    @include old-ie {
      display: table-cell !important;
      @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
        display: inline-block !important;
        float: left;
        width: 55px;
        min-height: 32px;
        padding: 0;
        .racecard-footer__each-way-odds-container--2-markets & {
          width: 62px;
          padding: 0 2px;
        }
      }
    } 
  }

  &__each-way-odds-container--2-markets {
    @include each-way-odds-container($two-markets-container-width);
    //---------- IE9 case
    @include old-ie {
      @include each-way-odds-container-ie($two-markets-container-width);
    }
  }

  &__each-way-odds-container--3-markets {
    @include each-way-odds-container($three-markets-container-width);
    //---------- IE9 case
    @include old-ie {
      @include each-way-odds-container-ie($three-markets-container-width);
    }
  }

  &__each-way-odds-container--4-markets {
    @include each-way-odds-container($four-markets-container-width);
    //---------- IE9 case
    @include old-ie {
      @include each-way-odds-container-ie($four-markets-container-width);
    }
  }

  &__each-way-odds-container--5-markets {
    @include each-way-odds-container($five-markets-container-width);
    //---------- IE9 case
    @include old-ie {
      @include each-way-odds-container-ie($five-markets-container-width);
    }
  }

  &__market-blurb {
    padding-top: 1.5em;
    &:first-child {
      padding-top: 0.25em;
    }
  }

}

div.racecard-footer__message {
  @extend .racecard-footer__message;
  background: $promenade;
  padding-right: px_to_em(8);
  padding-left: px_to_em(8);
  padding-bottom: px_to_em(16);
  border-bottom: 1px solid $border-light-gray-color;
  h4,
  p,
  li {
    padding-bottom: px_to_em(8);
  }
  h4 {
    font-weight: bold;
    padding-top: 1em;
    &:first-of-type {
      padding-top: 0;
    }
  }
}

.footer__heading,
.footer__subheading {
  font-weight: bold;
  padding-bottom: px_to_em(8);
}
