/* ===================
  POPULAR NAVIGATION:
  extra links below secondary nav. in the aside block
==================== */

// MAIN CONTAINER
.popular-menu{
  margin-bottom: 0.75em;
}

// SECTION BLOCK
.popular-nav{
  font-size: 12px;
  margin-bottom: 1em;

  //-- title of the block
  &__group-header{
    @include flexbox();
    @include flex-justify-content(space-between, justify);
    @include flex-align-items(center, center);
    background-color: $header-blue-dark-bg-color;
    color: $white;
    height: px_to_em(40, 12);
    border-bottom: 1px solid $white;
    padding: 0 px_to_em(8, 12);
    //---------- IE9 case
    @include old-ie {
      display: table;
      width: 100%;
      h2 {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  //-- list containeing the link
  &__list{
    background: $white;
    padding: px_to_em(8, 12) px_to_em(8, 12) px_to_em(8, 12) 2em;
    list-style-type: disc;
    list-style-position: outside;
    color: $link-blue-color;
    font-weight: bold;
    line-height: px_to_em(20, 12);
  }
}
