.results {
	background: $white;
	font-weight: bold;
	
	&-header {
		background: $container-gray-light-bg-color;
	  color: $text-blue-dark-color;
	  font-size: px_to_em(12);
	  display: none;

	  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
	    display: table;
	    width: 100%;
	  }

	  &__element {
	    @include table-cell();
	    padding: px_to_em(8, 12) 0 px_to_em(8, 12) px_to_em(12, 12);
	    border-top: px_to_em(8, 12) solid $white;
	    &:first-child {
	    	border-left: px_to_em(8, 12) solid $white;
	    }
	    &:last-child {
	    	border-right: px_to_em(8, 12) solid $white;
	    }
	  }
	}

	&-item {
		color: $mine-shaft;
  	border-bottom: 1px solid $border-light-gray-color;
  	&:nth-child(even) {
  		background: $promenade;
  	}
  	@include breakpoint(px_to_em($racing-desktop-breakpoint)) {
  		display: table;
  		width: 100%;
  	}
		&__element {
			font-size: px_to_em(12);
			line-height: 1.2;
			display: block;
			padding: 0 px_to_em(8, 12);
			@include breakpoint(px_to_em($racing-desktop-breakpoint)) {
	    	@include table-cell();
	    	height: px_to_em(48, 12);
	  	}
		}
		&__name {
			padding-top: px_to_em(6, 12);
			padding-bottom: px_to_em(2, 12);
			@include breakpoint(px_to_em($racing-desktop-breakpoint)) {
	    	padding: px_to_em(8, 12) px_to_em(12, 12) px_to_em(8, 12) px_to_em(20, 12);
	  	}
		}
		&__result {
			font-weight: normal;
			padding-bottom: px_to_em(8, 12);
			&:before {
				content: "Result: ";
				font-weight: bold;
			}
			@include breakpoint(px_to_em($racing-desktop-breakpoint)) {
	    	font-weight: inherit;
	    	padding: px_to_em(8, 12) px_to_em(12, 12);
	    	&:before {
					content: "";
				}
	  	}
		}
	}

	&-header__result,
	&-item__result {
		@include breakpoint(px_to_em($racing-desktop-breakpoint)) {
			width: px_to_em(280, 12);
		}
	}

}