
// Lets make it fit
[data-panel-open] {
  .vertical-drawer__close {
    margin: 1em;
    float: right;
    position: relative;
    z-index: 9999;
  }

  @include breakpoint( max-width 1940px ) {
    .localnavigation__wrapper, .header__inner, .main, .footer__wrapper {
      @include transition(margin 0.2s);
    }
  }
}

[data-panel-open="right"] {
  .vertical-drawer.-right {
    right: 0;
  }
  // Daily match lists
  .marketmain {
    //margin-left: 0;
  }

  @include breakpoint( max-width 1940px ) {
    .localnavigation__wrapper, .header__inner, .main, .footer__wrapper {
      margin-right: $horizontalDrawerWidth;
    }
  }
}

[data-panel-open="left"] {

  .vertical-drawer.-left {
    left: 0;
  }
}

// Base Drawer Setup
.drawer {
  @include transition(all 0.2s);
  position: fixed;
  background: #F9F9F9;
  z-index: 99;
}

// Vertical drawers that would appear from left or right.
.vertical-drawer {
  @extend .drawer;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  height: 100%;
  width: $horizontalDrawerWidth;
  top: 0;

  &.-right {
    @include box-shadow(0 0 0 8px $transparency-black-light-color );
    right: -($horizontalDrawerWidth + px_to_em(8, 12));
  }

  &.-left {
    left: -($horizontalDrawerWidth + px_to_em(8, 12));
  }
}


.drawer__title {
  font-size: 22px;
  padding: px_to_em(16, 22);
  color: $text-black-color;
}

.drawer__toolbar {
  padding: px_to_em(12, 12);
  float: right;
}