// Market Table

/**
 * Individual Rows
 */
.markettable__event {

  background-color: $container-white-bg-color;
  //padding: px_to_em(12, 12) px_to_em(8, 12);
  padding: px_to_em(12, 12) 0;

  @include container(24);
  color: $text-blue-dark-color;
  border-bottom:  1px dotted $border-light-gray-color;
  @include breakpoint($breakpoint-1) {
    position: relative;
  }

  &.us--macht_event {
    @extend .markettable__event;
    padding: 0.5em 0em 0em 0.6em;
    border-bottom: 0px solid;
  }

  &.us--macht_team{
    @extend .markettable__event;
    border-bottom: 0px solid;
  }


}

.event__main, .header__main {
  float: left;
  padding-left: px_to_em(8, 12);
}

.event__main {
  @include breakpoint($breakpoint-1) {
    margin-bottom:$box-margin-sm;
  }
}

.event__side, .header__side {

  @include span(10 of 24);
  width: auto;
  min-width: 400px;
  float: right;
  text-align: right;
  font-size: 0;

  @include breakpoint($breakpoint-4) {
    min-width: 0;
  }

  .marketHeader p{
    font-size: 12px;
    padding-left: px_to_em(8, 12);
    color: $text-black-color;
  }

  [class*=button] {
    //margin-left: px_to_em(8, 12);
  }

  .betting-block {
    @extend .fl;
    @include breakpoint($breakpoint-1) {
      float: none;
    }
  }
}

.header__side {
  //min-width: 400 + 8 +px; //add 8px on to compensate for the padding added to .event__side
  @include breakpoint($breakpoint-3) {
    min-width: 0px;
  }
}
.event__side {
  @include breakpoint($breakpoint-1) {
    width: 100%;
  }
}

.event__details {
  font-weight:bold;
  margin-bottom: px_to_em(2, 12);
  display: block;
  h4, h5 {
    display: inline;
  }
  h4 {
  }
  .event__title {
  }
}

.event__status {
  color: $text-grey-color;
}

.event__team {
  text-align: left;
  font-size: px_to_em(16);
  color: $text-black-color;
  margin-top: px_to_em(10);
  background: $container-white-bg-color;
  font-weight: normal;
  display: none;
  height: px_to_em(65);
  @include breakpoint($breakpoint-1-flip){
    display: block;
  }
  @include breakpoint($breakpoint-5-flip){
    display: none;
  }
  @include breakpoint($breakpoint-4-flip){
    display: block;
  }
}

.event__team-home {
  color: $text-black-color;
  text-align: left;
  position: absolute;
  top: -17px;
  line-height: 20px;
}

.event__team-away {
  @extend .event__team-home;
  top: 50px;
}

.event__team-home,
.event__team-away,{
    @include breakpoint($breakpoint-1-flip){
    display: none;
  }
  @include breakpoint($breakpoint-5-flip){
    display: block;
  }
  @include breakpoint($breakpoint-4-flip){
    display: none;
  }
}

.event__badge {
  @extend .badge;
  width: px_to_em(66, 12);
  @include breakpoint($breakpoint-hi-rez) {
    width: px_to_em(66, 12);
  }

  &--blue {
    background-color: $badge-bg-blue-color;
    color: $text-white-color;
  }

  &--dark-blue {
    background-color: $badge-bg-dark-blue;
    color: $text-white-color;
  }

}

.event__television {
  @extend .badge;
  padding: px_to_em(0);
  width: px_to_em(50, 12);
  .icon-tv:before {
    content: "\e67e";
    font-size: 9px;
    margin-right: px_to_em(3);
  }
}

.event__goal{
  @extend .badge;
  width: px_to_em(290, 12);
  color: $text-blue-color;
  padding: px_to_em(10, 12) px_to_em(20, 12);
  text-transform: uppercase;
}

.event__neutral, .event__time {
  @extend .badge;
  background: $badge-bg-blue-color;
  width: px_to_em(18, 12);
  color: $text-white-color;
  font-weight: normal;
}

.event__time {
  @extend .badge;
  background: $badge-bg-blue-color;
  width: px_to_em(20, 12);
  color: $text-white-color;
}

.event__odds {
  font-size: 12px;
  float: left;
  @include breakpoint($breakpoint-4) {
    float: right;
  }

  @include breakpoint($breakpoint-1) {
    float: none;
    clear: both;
    width: auto;
  }
}

.eventoptions {
  float: right;
  @include breakpoint($breakpoint-4) {
    display: none;
    clear: both;
    margin-top: px_to_em(8, 12);
    font-size: 12px;
  }
  @include breakpoint ($breakpoint-4-flip) {
    display: inherit !important;
  }
  &.above {
    margin-bottom: px_to_em(8, 12);
    margin-top: 0 - px_to_em(8, 12);
    @include breakpoint ($breakpoint-1-flip) {
      display: none !important; //need to use important so even JS cannot show it.
    }
  }
  &.below {
    @include breakpoint ($breakpoint-1) {
      display: none !important; //need to use important so even JS cannot show it.
    }
  }
}

.event__option {
  @extend .button-ghost;
  width: px_to_em(40, 12);
  padding: 0 px_to_em(16, 16);
}

.eventopenoptions {
  display: none;
  float: right;
  @include breakpoint($breakpoint-4) {
    //display: block;
  }

  @include breakpoint($breakpoint-1) {
    position: absolute;
    top: 0;
    right: px_to_em(8, 12);
  }
}

.oddstitle {
  line-height: px_to_em(15, 12);
  text-align: center;
  font-size: 12px;
}

/*
.outcomes__col, .oddstitle {
  @include span(px_to_em(80, 12));
  @include gutters(px_to_em(8, 12));
  font-size: 12px;

  @include breakpoint($breakpoint-1) {
    @include span(1 of 3);
    @include gutters(px_to_em(8, 12));
  }
}*/

.oddsbutton {
  @extend .button-standard;
  padding: px_to_em(8, 12) px_to_em(12, 12);
  position: relative;
  width: 100%;
  max-width: 100%;

  .racecard__button &,
  .racecard__button--match-bet & {
    line-height: 1;
    padding: 0;
    height: 100%;

    &.-add, &.-remove {
      &:after {
        height: auto;
      }
    }

  }

  &.-short {
    height: px_to_em(24, 12);
    padding: px_to_em(4, 12) px_to_em(12, 12);
  }

  &.active {

    &.-add {
      background: $odds-button-favourite-bg-color;
      color: $button-green-bg-color;
      @include transition(all ease 0.5s);
      span{
        display: none;
      }
      &:after {
        content: 'added';
      }
    }

    &.-selectionadded {
      background-color: $odds-button-added-bg-color;
      color: $button-text-color;
      @include transition(all ease 0.5s);
    }

  }

  &.-remove {
    background: $odds-button-removed-bg-color;
    color: $button-red-bg-color;
    @include transition(all ease 0.5s!important);
    span{
        display: none!important;
    }
    &:after {
      content: 'removed';
    }
  }

  &.-add, &.-remove {

    span { display: none; }

    &:after {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      text-align: center;
      @include transition(all ease 0.5s);
      @include breakpoint($breakpoint-hi-rez) {
        font-size: 11px;
      }
    }

  }

  &.disabled, .disabled-market &, .disabled-event &,
  &.disabled.-selectionadded, .disabled-market &.-selectionadded, .disabled-event &.-selectionadded {
    cursor: default;
    background-color: #f2f2f2;
  }

  section.disabled-event & {
    padding-right: 0;
    padding-left: 0;
  }

  &.-shortest-price {
    @extend %button--primary;
  }

  // horse racing betting without
  &[data-odds="W/O"] {
    background-color: $button-grey-bg-color;
    color: $button-text-color;
    cursor: default;
  }

}

button[data-status="Suspended"],
button[data-status="SUSPENDED"] {
  .x3.event__odds & {
    padding-right: 0;
    padding-left: 0;
  }
  .selectiondetails {
    &:after {
      .x3.event__odds & {
        @include breakpoint($breakpoint-1) {
          font-size: px_to_em(10, 12);
        }
        @include breakpoint($breakpoint-hi-rez) {
          font-size: px_to_em(8, 12);
        }
      }
    }
  }
}

button[data-odds-change="simple-up"] {
  span[data-odds-change] {
    display: block;
    background: transparent url(../../img/live-arrow-up.gif) no-repeat 3px 0px;
  }
 }

button[data-odds-change="simple-down"] {
  span[data-odds-change] {
    display: block;
    background: transparent url(../../img/live-arrow-down.gif) no-repeat 3px 3px;
  }
}

span[data-odds-change] {
  width: 14px;
  height: 12px;
  top: 50%;
  right: 1%;
  margin-top: -6px;
  display: block;
  position: absolute;
}

// Headings
.header__side {
  float: right;
  a[class*=button] {
    background-color: $transparency-white-lighter-color;
    &:hover {
      background-color: $transparency-white-light-color;
    }
    i {
      color: $header-text-color;
    }
  }
}

.header__toolbar {
  float: right;
  a[class*=button] {
    border-radius: 0;
    // margin-left: px_to_em(2, 12);
    height: px_to_em(39, 12);
    width: px_to_em(40, 12);
    padding: 0;
    &.mobile{
      display: inline-block;
      &.active{
        background-color: $container-blue-darkest-bg-color;
        height: px_to_em(40, 12);
        color: $text-blue-color;
      }
      @include breakpoint($breakpoint-1-flip) {
        display: none;
      }
    }
    &.desktop{
      display: none;
      @include breakpoint($breakpoint-1-flip) {
        display: inline-block;
        &.active{
          background-color: $container-gray-bg-color;
          height: px_to_em(40, 12);
          .icon-info{
            color: $text-blue-color; 
          }
        }
      }
    }
    i {
      line-height: px_to_em(40, 12);
    }
  }
}

.header-dropdown {
  background-color: $header-blue-dark-bg-color;
  color: $header-text-color;
  height: px_to_em(40, 12);
  display: table;
  width: 100%;
  p, h2, h3, h4, h5 {
    font-weight: bold;
    line-height: 1.2;
    padding: 0 px_to_em(8, 12);
    display: table-cell;
    vertical-align: middle;
    float: none; // this can be removed when class "fl" is removed from the relevent elements in the template files
  }

  .header__side,
  > .header__toolbar {
    display: table-cell;
    vertical-align: middle;
  }

  &.-collapsed {
    background-color: $mercury;
    color: $text-black-color;

    a[class*=button] {
      background-color: $mercury;
      i {
        color: $text-black-color;
      }
      &:hover {
        background-color: darken($mercury, 5%);
      }
    }
  }

  &:last-child {
    border-bottom: none;
  }

  .icon__number {
    position: absolute;
    font-size: 8px;
    position: absolute;
    right: 4px;
    top: 4px;
  }

  &__subheader {
    background-color: $header-blue-bg-color;
    margin-top: 1px;
  }

  &__subheader_icons{
    background-color: $header-blue-darkest-bg-color;
    padding: 0 px_to_em(3, 12) 0 px_to_em(6, 12);
    .tabs_icons{
      > li{
        float: left;
        padding: px_to_em(2, 12) px_to_em(2, 12) 0 px_to_em(2, 12)
      }
      .button-clear {
        @extend .button;
        background-color: $transparency-white-lighter-color;
        position: relative;
        margin-top: px_to_em(2);
        height: px_to_em(33, 12);
        width: px_to_em(40, 12);
        padding-left: px_to_em(0, 12);
        padding-right: px_to_em(0, 12);
        &.active {
          background-color: $container-gray-bg-color;
          color: $text-blue-dark-color;
          height: 100%;
          @include border-top-radius(3px);
          @include border-bottom-radius(0px);
          border-bottom: 2px solid $promenade;
        }
      }
    }
    @include breakpoint($breakpoint-1-flip) {
      display: none;
    }
  }

  &__subheader_info{
    background-color: $container-gray-bg-color;
    border-bottom: 1px solid $border-light-gray-color;
    padding: px_to_em(10);
    height: auto;
    display: none;
    .description {
      color: $text-black-color;
      font-weight: normal;
      line-height: px_to_em(14, 12);
    }

  }

}

.sectionheading__text {
  //line-height: px_to_em(28, 16);
}

.sectionheading__link {
  line-height: px_to_em(28, 12);
  font-weight: bold;
}

.marketmenu__section {
  display: none;
  &.-expanded {
    display: block;
  }
}

//Market Menu
.marketmenu__link {
  background-color: $container-white-bg-color;
  padding: 0 px_to_em(8, 12);
  display: block;
  color: $text-grey-color;
  font-weight: bold;

  &.-active {
    color: $text-blue-color;
    box-shadow: 4px 0px 0px $eastern-blue inset;
  }

  &:hover {
    color: $text-blue-color;
    box-shadow: 4px 0px 0px $eastern-blue inset;
  }

  .inner {
    @extend .clearfix;
    display: block;
    padding: px_to_em(10, 12) 0;
    border-bottom: 1px dotted $border-gray-color;
  }
}

.togglemarketsmenu {
  display: none;

  @include breakpoint($breakpoint-3) {
    display: block;
  }
}

.filter-nav {
  @extend .col-inner;
  background-color: $container-white-bg-color;
  border-bottom: 1px dotted $border-gray-color;
  padding-left: 0.5em;
}

.competition-nav {
  @extend .col-inner;
  background-color: #fff;
  max-height: 126px;

  .filterSelection {
    float: left;
    position: relative;
    width: 100%;
  }
}

.competition-nav__group {
  width: 22em;
  max-width: 22em;
  vertical-align: top;
  float: left;
}

// Market Filter
.mainfilter__link {
  @extend .marketmenu__link;
  background-color: transparent;
  //@include span(1 of 7);
  float: left;
  font-size: 13px;
  text-align: center;
  padding: 0;
  height: px_to_em(38, 12);

  &:hover {
    box-shadow: none;
  }

  span.inner  {
    border-bottom: none;
    line-height: px_to_em(38, 12);
    height: 100%;
    padding: 0;
  }

  &.competition-selector {
    padding: 0 px_to_em(3, 12) 0 px_to_em(6, 12);
    max-height: px_to_em(38, 12);
    text-align: left;
    width: 100%;

    span.inner {
      border-bottom: 1px dotted $border-gray-color;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  &.-active {
    border-left: none;
    box-shadow: none;
    color: $text-blue-color;
  }

  &.-filter {
    padding-right: px_to_em(10);
    padding-left: px_to_em(10);

    @include breakpoint($breakpoint-6) {
      padding-right: px_to_em(20);
      padding-left: px_to_em(20);
    }

    &.-active,  {
      border-bottom: 3px solid $border-blue-color;
    }

    &:hover {
      border-bottom: 3px solid $border-blue-color;
    }
  }

  &.-list {
    margin-left: 0;
    &.-active,  {
      @include box-shadow(3px 0 0 0 $eastern-blue inset);
    }

    &:hover {
      @include box-shadow(3px 0 0 0 $eastern-blue inset);
    }
  }

}

// Sorting Filter
.sectionheading__button {
  position: relative;
  top: -8px;

  @include breakpoint ($breakpoint-5) {
    display: none;
  }
}

// Button should always be displayed on Top Bets homepage
.topbets + .sectionheading__column {
  .sectionheading__button {
    @include breakpoint ($breakpoint-5) {
      display: inline-block;
    }
  }
}

.filterlist {
  @extend .button-standard;
  font-weight:normal;
  color: $text-black-color;
  position: relative;
  top: -2px;
  display: block;
  text-align: left;
  padding:0;
  z-index:2;
  border:1px solid $border-light-gray-color;

  &:hover {
    background-color: lighten($mercury, 5);
  }

  .filterlist__label{
    color: $text-black-color;
    display:block;
    padding:px_to_em(6);

    span{
      display:none;
    }
  }
  .filterlist__options{

    display:none;
    &.-expanded{
      display:block;
    }

    .filterlist__options__button {
      color: $text-grey-color;
      display:block;
      padding:0.6em 0.8em;
      width:100%;

      span{
        display:none;
      }

      &.-active {
        color: $text-blue-color;
        font-weight: bold;
      }
    }
  }

  @include breakpoint (min-width 770px) {

    &:hover{
      background:none;
    }

    border:none;
    padding:0;
    background:transparent;
    top:0;

    .filterlist__label {
      cursor:default;
      display:inline;
      padding:0;

      span {
        display: inline;
      }
    }
    .filterlist__options {
      display: inline !important; // javascript adds display property to toggle

      .filterlist__options__button {
        width:auto;
        display:inline;
        padding:0;

        span {
          display: inline;
          text-align: center;
          padding:px_to_em(1) px_to_em(4) px_to_em(2) px_to_em(6);
        }
      }
      .filterlist__options__button + .filterlist__options__button:before{
          content:'';
          font-size:0.8em;
          border-left:1px solid $border-gray-color;
      }
    }

    [class^="icon-"] {
      display: none;
    }
  }
}

.sortmenu {
  text-align: left;
  display: none;
  .sortmenu__link {
    margin-top: px_to_em(8, 12);
    display: block;
    &.-active {
      display: none;
    }
  }
}

.sortmenu__text, .sortopen__text {
  @include breakpoint ($breakpoint-3) {
    display: none;
  }
}

.sortmenu__icon, .sortopen i[data-sort-current] {
  display: none;
  @include breakpoint ($breakpoint-3) {
    display: inherit;
  }
}

.sorttype[data-sort-current] {
  &:before {
    text-transform: capitalize;
    content: attr(data-sort-current);
  }
}

/** TODO ON THE LIST TO SPRUCE UP A LITTLE AND OMIT THE S1,S2,S3 BOLLOX **/
.sectionheading {
  position: relative;
  .s2 {
    padding-right: px_to_em(60, 12);
    width: 100%;
    text-align: left;
    h1, h2 {
      float: none;
      text-align: left;
    }
  }
  .s1, .s3 {
    position: absolute;
    top: 0;
  }
  .s1 {
    left: 0;
    button {
      float: left;
    }
  }
  .s3 {
    right: 0;
    text-align: right;
    .odds-format-filter {
      position: relative;
      @extend .button-standard;
      z-index: 6;
      border-color: $border-light-gray-color;
      padding: 0;
      font-size: $headerFontLarge+px;
      text-align: right;
      &:hover {
        background-color: lighten($mercury, 5);
      }
      i:before { font-size: $headerFontSmall+px}
    }
  }
  @include breakpoint($breakpoint-3) {
    .s2 {
      text-align: center;
      width: 100%;
      padding: 0 px_to_em(75, 12) 0 px_to_em(100, 12);
    }
  }
  @include breakpoint($breakpoint-1) {
    .s2 {
      padding: 0;
    }
  }

  @include breakpoint($breakpoint-1) {
    .s2 {
      padding: 0 px_to_em(92);
    }
    .odds-format__toggle {
      span { display: none; }
      &[data-selected-format="fraction"]:before {
        content: $odds-format-fraction;
      }
      &[data-selected-format="decimal"]:before {
        content: $odds-format-decimal;
      }
      &[data-selected-format="american"]:before {
        content: $odds-format-american;
      }
    }
    .odds-format__button {
      &[data-odds-format="fraction"]:before {
        content: $odds-format-fraction;
      }
      &[data-odds-format="decimal"]:before {
        content: $odds-format-decimal;
      }
      &[data-odds-format="american"]:before {
        content: $odds-format-american;
      }
      span { display: none; }
    }
  }

}

.marketmain__footer {
  display: inline-block;
  background-color: $container-white-bg-color;
  border-bottom: 1px solid $border-white-color;
  padding: px_to_em(12, 12) px_to_em(12, 12);
  width: 100%;
  text-align: center;
}

.marketmain__footer__button {
  background-color: lighten($container-gray-light-bg-color, 10%);
  border-bottom: 1px solid $border-white-color;
  padding: px_to_em(8, 12);
}

/**
 * Highlights
 */

.highlights {
  .betgroup > .col-inner {
    margin-bottom: px_to_em(24, 12);
  }
}
.mask {
  &.-highlights {
      .column__secondary {
        @include breakpoint($breakpoint-11) {
          > aside:nth-of-type(1) {
            padding-right: 0;
            float: left;
            width: 100%;
          }
          > aside:nth-of-type(2) {
            float: left;
            position: relative;
            width: 100%;
          }
        }
      }

  }
}

.scoreBoardIframe {
  width: 100%;
  height: 100%;
}

.myaccountIframe {
  position: relative;
  width: 100%;
  height: 1052px;
}

#in-play-now ~ #match-highlights,
#match-highlights ~ #in-play-now{
  // JC hide duplicate box on highlights page
  //    -
  //    this duplicate element should be wrapped in
  //    a php conditional but this will fix for now
  .odds-format__toggle,
  .odds-format {
    display: none !important;
  }
}

.odds-format__toggle {
  display: block;
  font-weight: bold;
  color: $text-black-color;
  padding: px_to_em(4);

  &:hover {
    color: $text-black-color;
  }
}

// Odds display selection
.odds-format {
  text-align: right;
  position: relative;
  display: none;
  width: 100%;
  z-index: 10;
  .odds-format__toggle {
    cursor: pointer;
    font-weight: bold;
  }
  .odds-format__button-group {
    display:none;
    &.-expanded{
      display:block;
    }
    .odds-format__button.-selected {
      background-color: gray;
    }
  }
  &:hover {
    background-color: transparent;
  }
}

// Events
.events__market-container {
  background-color: $container-white-bg-color;
  font-size: 0.75rem;
  @include span(100% nest);
}

.events {
  float: left;
  background-color: $container-white-bg-color;
  width: 100%;

  .event__main {
    padding: px_to_em(8, 12);
    width: 100%;
  }
}
.events__heading {
  /*float:left;*/
  width:100%;
  .event-start-date{
    padding-top:5px;
  }
}


// Market Templates

.event__side, .header__side {
  min-width: 0;
}

.event__main {
  width: 100%;
}

.event__side {
  width: 100%;
  clear: both;
  margin-top: 8px;
}

.outcomes__col {
  float: left;
  width: 100%;
  display: block;
}

.odds__col {
  margin-bottom: 8px;
}


// Inplay page
.inplay {

  .market-group {
    background-color: #fcfcfc;
  }

  .group-title {
    float: left;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 0 4px 8px;
  }

  .marketW .subheader > .x2 {
    padding-top: 3px;
  }
  .marketW .subheader > .x3 {
    padding-top: 3px;
  }
}

// Matches page
.matches {

  // TODO: Quick solution for fix a bug on Matches page.
  .marketmain {
    margin-left: 0;
    padding-left: 0;
  }

  .market-group {
    background-color: $container-white-bg-color;
  }

  .group-title {
    float: left;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 0 4px 8px;
  }

  .marketW .subheader > .x2 {
    padding-top: 3px;
  }
  .marketW .subheader > .x3 {
    padding-top: 3px;
  }

}

// Exception error message - for example 'No competitions available for this sport'
.exception-msg{
  padding-top:0.8em;
  border-top:1px solid $transparency-black-light-color;

  p{
    margin-bottom:0.75em;
  }
}


// Market Blurb
.blurb {
  padding: px_to_em(4, 12) px_to_em(8, 12);
  background-color: $container-white-bg-color;
  color: $text-black-color;
  display: block;
  font-size: 12px;
  clear: both;
  padding-bottom: px_to_em(8, 12);
  text-align: center;
  width: 100%;

  // for racing specials
  .race-event-wrapper & {
    font-weight: bold;
    text-align: right;
  }

 }

// Betslip count

.mobile-bet-slip-count {
  @extend .badge;
  height: px_to_em(16, 12);
  margin-right: px_to_em(4, 12);
}

// to hide duplicate close button on Join and associated popup overlays
.mfp-iframe-holder .mfp-close {
  display: none;
}



// inplay schedule

.in-play {
  padding:0;
  margin:0 !important;

  &.filter-nav {
    border:none;
  }

  .mainfilter__link {
    background-color: transparent;
    float: left;
    text-align: center;

    font-size: 13px;
    height: 48px;

    flex:1;

    &.-filter {
      padding:.9em 0;
      border-right: 1px solid #e2e4e6;

      @include breakpoint($breakpoint-1) {
        font-size: 14px;
        padding:.9em 0.625em;
      }

      &.-active,
      &:hover {
          background-color: #184b74;
          border-bottom: 0;
      }
    }

    span{
      display: block;
    }

    .name {
        color: #00526b;
        display: block;
    }

    .date {
        color: #9facb2;
        font-size: 11px;

        @include breakpoint($breakpoint-1) {
          display:none;
        }
    }

    &.-active .name,
    &:hover .name{
        color: white;
        border:none;
    }
  }

  .markettable__event {
    background-color: #fcfcfc;
    padding: 1em 0;
    max-width: 180em;
    margin-left: auto;
    margin-right: auto;
    color: #00526b;
    border-bottom: 1px solid #bb;
    &:nth-child(even) {
      background-color: #f1;
    }

    .claim, .soon {
      display: inline-block;
      min-width: 140px;
      text-align: center;
      height: 32px;
      line-height: 32px;
      margin:4px 0;
    }

    .claim {
      border-radius: 4px;
      background-color: #009480;
      color: white;
    }

    .soon {
      color: gray;
    }

    ul {
      display:none;
      @include breakpoint($breakpoint-1) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        padding: .4em 0;
        color: #0174b5;
      }

      li {
        display:inline-block;
        vertical-align:top;

        -webkit-box-flex: none;
        -moz-box-flex: none;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        overflow: hidden;
        text-overflow: ellipsis;

        &.sport_col {
          width: 2.5em;
          text-align:center;
          p:first-child {
            font-size:1.5em;
          }
          .icon-tv {
            font-size:.8em;
            background-color:#ffd503;
            padding:.2em;
            border-radius:4px;
            font-weight:bold;
            color:#222;
            width:1.9em;
            line-height:1.5em;
            margin:.3em 0 0 .6em;
          }
        }

        &.event_col {
          -webkit-box-flex: 1;
          -moz-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          font-size: 14px;

          .name{
            font-weight: bold;
          }

          .time{
            font-size: 12px;
            margin-top: 6px;
            color:#222;
          }
        }

        .claim, .soon {
          margin:0;
          min-width:95px;
          width:95px;
          font-size:1em;
          overflow:hidden;
        }

        .soon {
          font-size:.8em; 
        }
      }
    }
  }

  .marketheader {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    padding:0 0.3em;
  
    @include breakpoint($breakpoint-1) {
      display: block;
      padding:0 0.3em 0 0;
    }

    width:100%;

    h3 {
      line-height:20px;
      font-size:11px;
      color:#184b74;
    }
  }

  .marketheader__label {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    line-height: 40px;
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include breakpoint($breakpoint-1) {
      display:none;
    }

    &.flexible {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }

    span {
      font-size: 8px;
      background-color: #ffd503;
      padding: 2px 3px;
      border-radius: 4px;
      font-weight: bold;
      white-space: nowrap;
      color: #222;
    }

    i {
      margin-right: 2px;
      font-size: 7px;
    }

    &.time {
      width: 60px;
    }

    &.sport {
      max-width: 15%;
    }

    &.status {
      width: 140px;
    }
  }

  header,
  .subheader {
    padding: 0;
  }

  @include breakpoint($breakpoint-1) {
    .subheader {
      display:none;
    }
  }

  #streamingFilter {
    float: left;
    overflow: hidden;
    background-color: #f3f3f3;
    padding: 1em .9em;
    height: 100%;
    width: 48px;
    color: #222;
    font: 16px bold;

    @include breakpoint($breakpoint-1) {
      padding: .8em .7em;;
      width:40px;
      min-width: 40px;
    }

    &:hover,
    &.checked {
      background-color: #ffd503;
    }
  }
}

.in-play-header {
    margin-bottom: 9px;

    button, h1 {display:inline-block;}

    .sectionheading__button {
      top:0;
      font-size: px_to_em(12);
      margin: 0;
      margin-right: 5px;
      padding: 0;
      background: none;
      display: none;

      @include breakpoint ($breakpoint-3) {
        display: inline-block;
      }

      i {
        padding: .4em .1em;
        color: white;
        background-color: #2297cd;
        display: inline-block;
        width: 1.8em;
        height: 1.8em;
        border-radius: 4px;
        font-weight: bold;
      }
    }
}

#in-play-schedule-date-bar {
  clear: both;
  height: 40px;
  background-color: #184b74;
  color: white;
  font-size: 13px;

  @include breakpoint($breakpoint-1) {
    font-size:15px;
  }

  span {
    float:left;
    margin:1em .7em;

    @include breakpoint($breakpoint-1) {
      margin:.8em .7em;
    }
  }
}

#in-play-schedule-date-filter {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;

    height: 48px;
    overflow:hidden;
    border-bottom: 1px solid #e4e6e8;

    .-filter {
      width: 100%;
    }

    @include breakpoint($breakpoint-1) {
      display:block;
      height:40px;

      .-filter {
        width: auto;
      }      
    }   
}

#in-play-top {
  height: 28px;
  @include breakpoint($breakpoint-1) {
    margin-bottom: .4em;
  }

  h1 {
    float: left;
    margin-top: 0.2em;
    @include breakpoint($breakpoint-1) {
        display:none;
    }
  }

}

[data-market-menu=open] #in-play-now {
  margin-right: -14.5em;
  margin-left: 0;
  left: 0;
  padding-left: 0;
}

[data-market-menu=open] #in-play-schedule-sport-filter {
   left: 0;
}

.sportmenu__link{
  background-color: #fcfcfc;
  display: block;
  color: #555555;
  font-weight: bold;
  padding: 0 0.66667em;
  height: 40px;
  border-bottom: 2px solid #e6e8e9;
  padding: 12px 8px;


  @include breakpoint($breakpoint-1) {
    height: 46px;
  }

  span {
    display: inline-block;
    color: #184b74;
    font-size: 13px;
    @include breakpoint($breakpoint-1) {
      font-size: 16px;
      line-height: 17px;
    }
  }

  .icon {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;

    @include breakpoint($breakpoint-1) {
      font-size: 18px;
      margin-right: 7px;
    }
  }

  &.-active,
  &:hover {
      background-color: #2297cd;

      span {
        color:white;
      }
  }
}

.in-play-schedule-footer {
  border-radius: 4px;
  margin-top: 10px;
  padding: 6px;
  color: #c97827;
  border: 1px solid #c97827;
  background-color: #fee9ca;
  text-align: center;

  @include breakpoint($breakpoint-1) {
    font-size: 15px;
  }
}

.in-play-exception-msg {
  clear: both;
  height:88px;
  background: white;
  text-align: center;
  color:#9facb2;
  padding-top:35px;
}
