// Lower Level Layout Blocks
.mainsection {
  margin-bottom: $box-margin-md;
}

.marketwrapper {
  @include span(12 nest);
  position: relative;
}

$marketAsideWidth : 14.5em;

.marketmain {
  @include span(12 of 12 nest);
  @extend .mainsection;

  padding-left: span($marketAsideWidth) + gutter();
  margin-right: -$marketAsideWidth; // these need to be the width of the sidebar as they compensate for the
  margin-left: -$marketAsideWidth; // width of it and let menu(fixed width) and main (fluid width) sit side by side

  @include breakpoint($breakpoint-3) {
    padding-left: 0;
    padding-right: 0;
  }

  [data-market-menu=open].competitions &,
  [data-market-menu=open].inplay & {
    margin-right: 0 - $marketAsideWidth;
    margin-left: 0;
    left: 0;
    padding-left: gutter();
    @include breakpoint($breakpoint-3-flip) {
      padding-left: $marketAsideWidth + gutter();
      margin-right: 0 - $marketAsideWidth;
      margin-left: 0 - $marketAsideWidth;
    }
    @include breakpoint ($breakpoint-2) {
      min-width: px_to_em(550, 16);
      margin-right: 0 - ($marketAsideWidth + px_to_em(550, 16));
    }
  }
}

.marketmenu {
  @include span($marketAsideWidth nest);
  @extend .mainsection;
  position: relative;
  top: 0;
  left: 0 - $marketAsideWidth;
  padding-right: gutter();

  @include breakpoint($breakpoint-3-flip) {
    left: 0;
    //padding-right: gutter() * 2;
  }

  [data-market-menu=open] & {
    left: 0;
  }
}

.marketfilter {
  @extend .mainsection;
  //border-bottom: 1px dotted $contFilterDotted;

  @include span(12 of 12 nest);

  position:relative;

  .col-inner {
    //padding-top: px_to_em(1, 12);
    //padding-bottom: px_to_em(1, 12);
    //background: #fff;
    //padding-bottom: 1px;
    //overflow-x: scroll;

    .inner {
      //min-width: px_to_em(120 * 7, 12);
    }
  }
}

.col-inner {
  @include span(100% nest);
  font-size: px_to_em(12);
  //box-shadow: 0 4px 0 $whBlockShadow;

  &.highlightsmarket{
    float: none;
    width: 100%;
    margin: px_to_em(12) 0;
  }
}

$sidebarOffsetMargin: span(px_to_em(85, 12));
$sidebarOffsetPadding: span(px_to_em(85, 12)); // + gutter();
.maincenter {
  @include span(100% nest);
  padding-right: $sidebarOffsetPadding;
  padding-left: $sidebarOffsetPadding;
  margin-right: -$sidebarOffsetMargin;
  margin-left: -$sidebarOffsetMargin;
  margin-bottom: px_to_em(56, 16);


  @include breakpoint($breakpoint-2) {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

// the section elements on the highlight pages
.betgroup{
  float:left;
  width:100%;
}

// Common Layout blocks
.sectionheading {
  margin-bottom: 0.563em; // 9px
  @include container(100% nest);
  &.-subnav{
    .sectionheading__column{
      margin-bottom: 0.750em; // 12px
      @include breakpoint (min-width 770px) {
        margin-bottom: 0.563em; // 9px
      }
    }
  }
}

.marketmain{
  @include transition(all 0.2s ease);
}

.marketmain__heading + .marketmain{
  padding-top: 0.563em; // 9px
  border-top: 1px dotted $border-light-gray-color;
}

.marketmenu {
  @include transition(all 0.2s ease);
}

.mask {
  overflow: hidden;
}

/*[data-market-menu="open"] {
  .marketmain {
    margin-right: 0 - px_to_em(265);
    margin-left: 0;
    left: 0;
    padding-left: gutter();
    @include breakpoint($breakpoint-3-flip) {
      padding-left: px_to_em(265) + gutter();
      margin-right: 0 - px_to_em(265);
      margin-left: 0 - px_to_em(265);
    }
    @include breakpoint ($breakpoint-2) {
      min-width: px_to_em(550, 16);
      margin-right: 0 - (px_to_em(265) + px_to_em(550, 16));
    }
  }
  .marketmenu {
    left: 0;
  }
}

.mask {
  overflow: hidden;

  &.-highlights {
    overflow: visible;
    position: relative; // needed for the highlights page layout
  }
}

[data-panel-open="right"] {

  @include respond-between(0, 700) {
    > * { margin-left: -5em; }
    .main, .footer__main { margin-left: -20em; }
  }

  @include respond-to(700) {
    padding-right: $horizontalDrawerWidth;
  }

  // -------------------------------------------
  // update the breakpoints here
  // -------------------------------------------

  // Help and language links
  .utilnavigation-header { display: none; }
  .utilnavigaiton { display: block; }
  @include respond-to(740) {
    .utilnavigation-header { display: block; }
    .utilnavigaiton { display: none; }
  }

  // product tabs
  @include respond-between(830, 1180) {
    .productnavigation.nonmobile-only { display: none !important; }
    .product-tab.desktop-hide { display: inline-block !important; }
  }

  // Highlights
  @include respond-between(770, 870) {
    .highlights {
      // the aside panels
      .tscri { padding-right: 0 !important; }
      .column__secondary aside {
        width: 100% !important;
        position: static !important;
      }
    }
  }
  @include respond-between(1014, 1200) {
    .highlights {
      .tscri { padding-right: 0 !important; }
      .column__primary { padding-right: 0 !important; }
      .column__secondary {
        margin-left: 0 !important;
        width: 100% !important;

        aside {
          width: 100% !important;
          position: static !important;
        }
        .sidemarket { width: 100% !important; }
      }
    }
  }

  // competitions
  @include respond-between(770, 870) {
    .competitions {
      .column__secondary aside {
        padding-right: 0 !important;
      }
    }
  }
  @include respond-between(1014, 1200) {
    .compeitions {
      .column__primary { padding-right: 0 !important; }
      .column__secondary {
        margin-left: 0 !important;
        width: 100% !important;

        aside {
          width: 100% !important;
          position: static !important;
        }
        .sidemarket { width: 100% !important; }
      }
    }
  }
}*/
