// Susy Grid
@include border-box-sizing;
$susy: (
  global-box-sizing: border-box,
  columns: 12,
  gutters: 1/4,
  gutter-position: inside-static,
  column-width: 6em
);
$gamesShowGrid: '';


@mixin gutter-reset() {
  margin-left: -.25em;
  margin-right: -.25em;
  /*@include respond-to($gamesBreakPoint4Cols) {
    margin-left: -.5em;
    margin-right: -.5em;
  }*/
}

.gutter-reset {
  @include gutter-reset;
  @extend .clearfix;
}
